[2015-09-19 16:08] solael opened #1 "Terminal settings"
Hi, may i know your terminator's settings or how to set it pls?

[2015-09-19 16:25] anmoljagetia commented on #1
I am presently using zsh with [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh) configuration. For the colorscheme, I am using a modified version of the default tango colors, material colors and the one dark scheme. I'll post a downloadable profile to get the scheme soon. Thanks for pointing it out!

[2015-09-19 16:30] solael commented on #1
Thanks! Amazing theme, good job!

[2015-09-19 23:56] michael-krebs opened #2 "What is your Sublime text theme?"

[2015-09-20 07:46] nickedes commented on #1
:+1:

[2015-09-20 07:52] nickedes opened #3 "Cool theme!"
After installing the theme and icons
![menu_128](https://cloud.githubusercontent.com/assets/5887656/9979757/f945a1f8-5f99-11e5-9ae6-0dd3942651f8.png)

It Looks great! :grin: .Couldn't stop myself from creating this issue. :wink:
Thanx for this theme!
## Flatabulous is *delicious*.

[2015-09-20 12:33] krampstudio opened #4 "Checkboxes and radios difficult to find"
With the Flatabulous theme the checkboxes and radios doesn't appear in unchecked state :

![gtk-widgets](http://i.imgur.com/V4tgbSf.png)

Reported on Ubuntu 15.04 with the Flatabulous theme (master at 4fb5a1e85df18b376386b9c2621e9b88bb6cb87d). Please note that I have the same problem with other themes like Numix.

[2015-09-20 13:01] anmoljagetia commented on #3
Thanks a lot! Your appreciation means a lot :smile:

[2015-09-20 13:03] anmoljagetia commented on #4
Thank you for reporting this, It is basically a lingering bug from Numix itself I guess. @krampstudio would you be interested in fixing this?

[2015-09-20 13:14] krampstudio commented on #4
So this theme is based on Numix, right ?

[2015-09-20 13:17] anmoljagetia commented on #4
This theme is based off on a theme which in turn is based on the Numix theme. I am actually using some of their svg graphics, the very common ones.

[2015-09-20 13:54] anmoljagetia commented on #4
Closed via [`619877c`](https://github.com/anmoljagetia/Flatabulous/pull/5/files).

[2015-09-20 13:54] #4 closed

[2015-09-20 14:02] krampstudio commented on #4
Cool !

[2015-09-20 14:02] anmoljagetia commented on #4
Thanks for reviewing :+1:

[2015-09-20 14:06] anmoljagetia commented on #2
Thank you for opening this issue here. My .thTheme file is an edited version of Brogrammer, OneDark and Numix themes. You can find it [here](https://github.com/anmoljagetia/dotfiles/blob/master/sublime/anmol.tmTheme).

[2015-09-21 13:22] Vik-Thor opened #6 "no hover effect in unbuntu application sidebar when I tap <super>+<tab>"
hi, very cool theme,
your sublime text theme looks like "amCoder" theme but better, I like it!
good continuation!

ps: where we can find these wallpaper ? ^^

[2015-09-21 14:54] vbauer commented on #3
:+1:

[2015-09-21 16:01] anmoljagetia commented on #6
Thanks for reporting this. I am not sure how should I try and implement it. Need ideas!

Also, my Sublime theme is based off Numix, Brogrammer and OneDark2. You can check out the .tmTheme file [here](https://github.com/anmoljagetia/dotfiles/blob/master/sublime/anmol.tmTheme).

[2015-09-22 03:50] twxia commented on #6
Hi @anmoljagetia ~ the wallpaper has a menu at the left.
Is there a original wallpaper can download it ? :smile:

[2015-09-22 04:08] twxia opened #7 "unity title bar icon and check list problem"
Awesome theme~ but I found some problems

In the title bar, you can see some application's icon can't change correctly. (Like Spotify, Skype and Chrome that they have the flat icon, but can't showed)
![screenshot from 2015-09-22 11 59 14](https://cloud.githubusercontent.com/assets/2068895/10010696/6f447e28-6121-11e5-9cc2-c01ba5bcb8d6.png)

and the check list don't have the box if there is not chec

[2015-09-22 05:28] twxia commented on #6
oh~ I found it here: https://plus.google.com/+JaromBradshaw/posts/FFnhcPqVaCc?pid=6001488417862207826&oid=115581491412616658975

[2015-09-22 06:49] anmoljagetia commented on #7
I fixed the checkbox bug in #5. Can you reinstall and check?

The icon in status bar is definitely a bug.

[2015-09-22 06:50] anmoljagetia commented on #6
@twxia, thanks for the link. This is gold.

[2015-09-22 08:33] Vik-Thor commented on #6
@twixia, I aggre that's fucking awesome!

[2015-09-22 09:08] Think-It commented on #1
Looking for your zsh config file too :)

[2015-09-22 09:13] anmoljagetia commented on #1
My zsh config can be found [here](https://github.com/anmoljagetia/dotfiles/blob/master/zsh/custom/themes/anmol.zsh-theme). This works if  you have powerline fonts installed and oh-my-zsh setup. Check them out, they are really cool projects. All other dotfiles can be found [here](https://github.com/anmoljagetia/dotfiles).

[2015-09-22 16:07] ebruck opened #8 "Menu border is white in Ubuntu 15.04"
Great theme with a minor bug. The menu border should not be white in 15.04.

Ubuntu 14.04:

![image](https://cloud.githubusercontent.com/assets/1168556/10023847/f31d8ea6-6108-11e5-870a-28967e2dfed0.png)

Ubuntu 15.04:

![image](https://cloud.githubusercontent.com/assets/1168556/10023863/fdb86d5e-6108-11e5-8f44-c6153c1e23d7.png)

[2015-09-22 16:42] ebruck opened #9 "Ubuntu 15.04 controls have light background"
Some controls on 14.04 render correctly while 15.04 have a light background:

15.04:
![image](https://cloud.githubusercontent.com/assets/1168556/10024867/02b0c36a-610e-11e5-8774-1de84e6e1bd9.png)

![image](https://cloud.githubusercontent.com/assets/1168556/10024871/06b552fa-610e-11e5-8bce-d4b543112990.png)

14.04:

![image](https://cloud.githubusercontent.com/assets/1168556/10024848/f3b6710c-610d-

[2015-09-22 16:50] vbauer commented on #9
:+1: I have the same problem.

[2015-09-22 16:58] ebruck opened #10 "Windows have 1 pixel border"
It would be nice if the theme had no window borders.
Here's what it looks like on 14.04:

![image](https://cloud.githubusercontent.com/assets/1168556/10025242/27418096-6110-11e5-8077-0e52ac7a02cc.png)

[2015-09-22 17:45] anmoljagetia commented on #10
Is that a terminal? I can't reproduce this on 15.04?

[2015-09-22 17:46] anmoljagetia commented on #9
Confirmed bug. Need to fix this. can anybody help?

[2015-09-22 17:47] anmoljagetia commented on #7
The status bar icons should be fixed when the folks maintaining Ultra-Flat-Icons roll out a fix I think. Has anybody found a workaround yet?

[2015-09-22 17:48] #3 closed

[2015-09-22 17:57] ebruck opened #11 "Menu items too light"
It's hard to read the drop down menu items that are not selected:

![image](https://cloud.githubusercontent.com/assets/1168556/10026830/b48a23a6-6118-11e5-95ac-6c9664c65a59.png)

[2015-09-22 18:02] ebruck commented on #10
That is terminator on top of a black window.
Just tried with gnome terminal and the borders are rendered the same.
The image is a little darker as that is I believe that is the "not in focus" border colour.

[2015-09-22 18:04] ebruck commented on #10
Here's how gnome terminal looks:

![image](https://cloud.githubusercontent.com/assets/1168556/10027051/bbe2a3ca-6119-11e5-9134-b4124d0ea15f.png)

[2015-09-22 22:51] AvonGenesis commented on #1
Will you be posting your modified colorscheme as well?

[2015-09-23 03:13] twxia opened #13 "ubuntu notify box"
notify box need to change to flat design :muscle:

![screenshot from 2015-09-23 11 13 05](https://cloud.githubusercontent.com/assets/2068895/10037109/18280ede-61e4-11e5-8fd3-06302197efd7.png)

[2015-09-23 03:31] twxia commented on #7
hi ~ @anmoljagetia

I pull the latest version from master, but the checkbox bug still exit.

[2015-09-23 04:10] anmoljagetia commented on #7
![image](https://cloud.githubusercontent.com/assets/6505326/10037657/dc28adb0-61d6-11e5-9413-5f2107cd87c4.png)

Thanks for reporting this!
It works on Ubuntu 15.04 for me. I'll have to test it out manually on Ubuntu 14.04 again. @twxia thanks for reporting all these bugs in, It would keep me busy for a while :smile:

Thanks for all the help :)

[2015-09-23 04:18] anmoljagetia commented on #10
@ebruck , Thanks for reporting all these bugs! It will keep me busy for a while! Would be really helpful if you could help in fixing a few! :+1:

[2015-09-23 04:37] ebruck commented on #10
I'd love to, but have no idea what tools (if any) there are to edit themes. Today I fired up The Widget Factory, but it's just a viewer.... I guess I'll google some more. :)

[2015-09-23 05:22] anmoljagetia commented on #10
I have been using The Widget factory to generate most of my changes and then rereading the Gnome Documentation to get all this to work. Also, since this is based off of Numix Project, it was not a very steep learning curve. The only problem now is, that Gnome are dropping support for older API's and The widget factory still uses them, so I can't even reproduce most of these bugs inside the widget

[2015-09-23 06:32] twxia commented on #7
@anmoljagetia
I found that the checkbox in widget factory is correctly display(right side), but others are broken (left side)
![screenshot from 2015-09-23 14 28 52](https://cloud.githubusercontent.com/assets/2068895/10038939/81fc2712-61ff-11e5-99b2-1e5440efe758.png)

[2015-09-23 09:59] vbauer commented on #13
:+1:

[2015-09-23 11:50] johannesgunnar opened #14 "Gedit tab bar looks out of place with black background"
![gedit2](https://cloud.githubusercontent.com/assets/2924543/10044287/331fd456-61e9-11e5-8add-4a94ced76f47.png)

Seeing this on Ubuntu 14.04

[2015-09-23 15:59] anmoljagetia commented on #14
I am also seeing this on 15.04. Fix would most probably require defining a profile for gedit specifically.

[2015-09-23 16:06] ebruck commented on #14
This renders fine on 15.10.

![image](https://cloud.githubusercontent.com/assets/1168556/10050653/4f2f4bde-61d2-11e5-8de9-830e777644b7.png)

[2015-09-23 16:10] anmoljagetia commented on #14
Thanks @ebruck for confirming for Ubuntu 15.10. All these gnome specific inconsistencies are killing me :cry:

 I wish there was some documentation or some other way, it could be made better, without breaking something somwhere else.

[2015-09-23 16:15] anmoljagetia commented on #1
Sorry for the delay, [Here](https://gist.github.com/anmoljagetia/780945d542a27c6cf6e8) is a script that will add a new profile in gnome-terminal that mimics my terminal settings.

A one liner install can be done by running the command

`wget -O xt http://git.io/vn6HM && chmod +x xt && ./xt && rm xt`

I have my terminal set at 10% transparency. More cool color schemes can be found [here](https://te

[2015-09-23 16:15] anmoljagetia commented on #7
@twxia is this on Ubuntu 14.04 ?

[2015-09-23 16:18] anmoljagetia commented on #7
![image](https://cloud.githubusercontent.com/assets/6505326/10050971/9d580192-623c-11e5-8261-f55b8cadf33a.png)

They render fine for me on Ubuntu 15.04. I think it broke in the last commit for Ubuntu 14.04. Can you download from [here](https://github.com/anmoljagetia/Flatabulous/tree/4fb5a1e85df18b376386b9c2621e9b88bb6cb87d) and test please?

[2015-09-23 17:35] ebruck commented on #14
15.10 seems to fix this issue as well.

![image](https://cloud.githubusercontent.com/assets/1168556/10053059/ce821ae0-61de-11e5-8846-a9414ee000a6.png)

[2015-09-24 01:58] twxia commented on #7
@anmoljagetia  it works !! thanks

[2015-09-24 08:19] anmoljagetia commented on #7
Gnome is making a lot of changes, and reducing support for older libraries. I think we should have different download links for 14.04 and 15.04 users?

[2015-09-24 08:20] anmoljagetia commented on #7
@twxia thanks for confirming this :+1:

[2015-09-24 16:03] twxia commented on #7
@anmoljagetia maybe need a make file to generate two different source. > <
Like using  `unity --version` to check current version.(https://launchpad.net/ubuntu/+source/unity)
ubuntu 14.04 is unity 7.2.5
ubuntu 15.04 is unity 7.3.2

BTW how can I know this is Gnome's problem? I saw you change the SVG, so is it means the latest version of Gnome can't parse some structure of SVG?

[2015-09-24 19:16] anmoljagetia commented on #7
@twxia I changed the svg because the newer ones a little more polished :smile: The main difference is the way path is passed to the engine that renders the theme. I assume Gnome is making changes to the engine as well. Example can be seen [here](https://github.com/anmoljagetia/Flatabulous/commit/e465c312e8912bf3bf6aaf8aa2eea21da635ebae#diff-6291aefdbc9d9a1c12f85dc9a04b8de7L120). I am assuming the

[2015-09-25 16:50] anmoljagetia commented on #9
Fixed [here](https://github.com/anmoljagetia/Flatabulous/releases/tag/15.04.1). I am going with having two different versions for Ubuntu 14.04 and Ubuntu 15.04. @ebruck what are your thoughts on the same?

[2015-09-26 03:17] ebruck commented on #9
Are you sure you want use a tag instead of branching? Perhaps a 14.04 and 15.xx branch with master being where you merge changes into it that "should" make it work on all releases. Can you even make a theme that handles all releases?

[2015-09-26 13:56] alexedev opened #16 "Where to get the wallpeper."
Hey. I did not find the wallpaper from screenshots among the files.
Could you please provide a link to it?

[2015-09-26 14:45] twxia commented on #16
@alexedev

https://github.com/anmoljagetia/Flatabulous/issues/6#issuecomment-142184885

[2015-09-26 16:44] anmoljagetia commented on #16
Thanks @twxia.
I think I should add that link to the README.

[2015-09-26 16:44] #16 closed

[2015-09-26 17:13] twxia commented on #7
@anmoljagetia  QAQ, I have google it and found the awful support story for the old version ~

Ubuntu 14.04 only can upgrade to GNOME 3.12
but the latest function need GNOME 3.16

maybe you need to write down the prerequisite version?
and I saw you had added the tags to support 15.04 and 14.04 :+1:

I'm not sure the difference between old and latest version. I cant find a document describing these

[2015-09-27 12:24] anmoljagetia commented on #7
I just found out about the jump from 3.12 to 3.16 as well. Some libraries will be incompatible from 3.16, and will be replaced by some newer alternatives. They have documentation [here](https://developer.gnome.org/gtk3/stable/) however it doesn't help much except for figuring out what a particular line does. I like the idea of using SASS and include a few `@mixin` however, I read a few blogs that

[2015-09-27 13:27] alexedev commented on #16
@twxia thank you

[2015-09-29 16:09] ebruck commented on #8
There is no white border in 15.10.

[2015-09-30 08:42] anmoljagetia commented on #8
15.10 seems to fix a lot of recurring issues. It is a step in the right direction from Gnome (IMO). Thanks for the heads up!

[2015-10-02 20:27] rootAmeen commented on #2
The coloring of code is working perfectly.
But I don't get the same tabs and open files as you do in screesnshots. I still get the defaults of Sublime. Did you customize those aswell ?

[2015-10-02 20:45] anmoljagetia commented on #2
That is from the Numix theme for Sublime Text. You can install it to achieve the same look as the screenshot.

[2015-10-10 04:07] Banashek opened #18 "Theme file is invalid"
Ubuntu Tweaks isn't showing Flatabulous in the dropdowns, and when trying to manually add the index.theme file.

Placed the extracted files in both ~/.themes and /usr/share/themes

Latest 15.04 image in Virtualbox.

Any Ideas?

[2015-10-10 06:22] anmoljagetia commented on #18
Maybe try restarting the system. This works for me on Ubuntu 15.04

[2015-10-14 10:39] anmoljagetia commented on #18
@Banashek did this work in your setup?
I have not tried this on a virtualbox, will be really helpful if you could post your progress here?

[2015-10-14 21:40] binarykitchen opened #19 "Lots of GTK warnings on Ubuntu 15.04"
I didn't have these warnings before I installed this theme via Ubuntu Tweak:

[code]

[2015-10-15 02:56] Banashek commented on #18
Ok so it turns out when I unzipped the theme, I had not put it in a folder inside of the themes directory.

I had moved the zip to `~/.themes/`, then did `unzip flatabulous.zip .` in the directory.

After moving everything to a folder and restarting, it worked properly.

So for reference, the files should be unzipped to `~/.themes/flatabulous/`

[2015-10-15 02:56] #18 closed

[2015-10-15 09:17] anmoljagetia commented on #19
Thanks for reporting this! I'll try to fix this, and rollup an update!

[2015-10-21 13:49] dexbyte opened #20 "How do I make the windows bar rounded on top left and top right?"
Just like it is in Ubuntu default theme. I tried to edit meta-city xml files but nothing changed.

[2015-10-22 09:42] anmoljagetia commented on #20
Edit the border radius in gtk.css and gtk-widget.css files?

[2015-10-22 09:58] dexbyte commented on #20
No I figured it out. You need to edit unity.css, I also removed the border and set it to 0px. Now it looks something like this.
![screenshot from 2015-10-22 15 26 19](https://cloud.githubusercontent.com/assets/14197985/10662352/942a08b2-78d1-11e5-9d7e-d9a1db2909f6.png)

[2015-10-22 15:31] anmoljagetia commented on #20
Wow! This really looks wonderful. Can you issue a PR against the development branch? I would give you credit and everything?

[2015-10-22 16:04] dexbyte commented on #20
Sure mate!

[2015-10-23 12:12] Swizz540 commented on #2
Hi
Your sublime syntax looks awesome.

Is it free to fork it to an atom syntax ?
Can I use the name : `anmol-syntax` ?

Kind regards,

[2015-10-23 14:42] anmoljagetia commented on #2
@Swizz540 sure! I would love it if you could also share your work back here, so that more people can benefit from it.
You can use any name you like, although I would like it if you could give me some credit for it.

Best regards,
Anmol

[2015-10-23 14:48] anmoljagetia opened #22 "Setup a PPA installation for the theme!"
I would like to have a PPA installer for the theme. Where the user can add a PPA and the run sudo apt-get Flatabulous install and sudo apt-get update to fetch the latest updates. I presently have no experience with creating PPA's and writing installer scripts for theme. Looking for help here!

[2015-10-23 14:50] Swizz540 commented on #2
@anmoljagetia Obviously !
All credits will be given to you..

[2015-10-24 11:48] Swizz540 commented on #22
[Could it help you ?](https://help.launchpad.net/Packaging/PPA)

I'm not an Ubuntu user. Can't help more.

[2015-10-24 13:48] Swizz540 commented on #2
As promised :

[Swizz540/atom-anmol-syntax](https://github.com/Swizz540/atom-anmol-syntax)

[2015-10-24 15:49] anmoljagetia commented on #22
@Swizz540 Thanks a lot!

[2015-10-24 15:52] anmoljagetia commented on #2
@Swizz540 Thanks a lot! this looks really pretty! :smile:

[2015-10-25 04:00] terrytu0314 commented on #2
I want to know what's your sublime text's font,it looks pretty!

[2015-10-25 09:04] anmoljagetia commented on #2
The one in the screenshot is Menlo, however since then, I have moved on to [Hack](http://sourcefoundry.org/hack/), which I like a lot! I have also experimented with Source Sans Pro in the past!

[2015-10-25 17:35] jobsamuel commented on #22
This feature would be awesome! :smiley:

I've not created a PPA but I'd like to help you :sunglasses:

[2015-10-25 18:29] anmoljagetia commented on #22
@jobsamuel Thanks a lot :smiley:

Do you know where can we get started?

[2015-10-28 10:17] anmoljagetia commented on #20
Thanks for your PR. Added you as a contributor with due credit! Cheers.

Closed with [`cad8ead`](https://github.com/anmoljagetia/Flatabulous/commit/cad8eadab29b2d8ef5dcde64ba984c7d575de0d8).

[2015-10-28 10:17] #20 closed

[2015-10-28 10:23] anmoljagetia commented on #7
Thanks to @gamerox, this issue has now been resolved. The top icons can be fixed by maintainers of ultra-flat-icons (I think!). Closing this for now!

[2015-10-28 10:23] #7 closed

[2015-10-28 10:41] #19 closed

[2015-10-28 20:40] binarykitchen commented on #19
great, thanks - when will this be out, upgradeable via apt-get?

[2015-10-28 22:37] anmoljagetia commented on #19
I am trying to setup and make this downloadable via apt-get, but I don't have experience with packages and launchpad. I'll try and roll-out as soon as I can!

[2015-10-28 22:42] binarykitchen commented on #19
thanks heaps

[2015-10-28 22:48] prempalsingh commented on #22
@anmoljagetia Found some really good answers here to proceed with creating your own PPA.
http://askubuntu.com/questions/71510/how-do-i-create-a-ppa

[2015-10-28 23:09] anmoljagetia commented on #22
@prempalsingh Thanks! I already found this link before, and read through it, however, my main issue is not how to generate a PPA, rather it is, as to how does the installer work for it, as in what binaries do I have to generate.

[2015-10-29 02:38] ebruck commented on #22
I've found cmake to be a very easy way to create Debian packages.
Have a look at one of my projects as an example:

https://github.com/ebruck/indicator-doom-cpu/tree/master/debian

[2015-10-29 08:04] Swizz540 commented on #22
So.
I read about [debuild](http://manpages.ubuntu.com/manpages/raring/en/man1/debuild.1.html). It seem to be able to do the right job.

[More](http://blog.packagecloud.io/debian/debuild/packaging/2015/06/08/buildling-deb-packages-with-debuild/).

[2015-11-17 16:02] hg8 commented on #22
[Noobslab](http://www.noobslab.com/2015/11/flatabulous-theme-makes-your-desktop.html) added your theme to their PPA.

[2015-11-17 20:35] anmoljagetia commented on #22
Thanks @hg8! I got an email from them, and this is really good! I am interested in finding out *how* they achieved this (for future projects!).

[2015-11-18 04:18] pynixwang opened #27 "Dash context menu looks not so good"
![screenshot from 2015-11-18 12 16 03](https://cloud.githubusercontent.com/assets/1189879/11232432/2db69f1e-8dee-11e5-9205-014600097582.png)

is there any way to theme it?

[2015-11-20 21:35] anmoljagetia commented on #27
I have had trouble in the past fixing these, along with the notification box. I have also not found other themes that do this. If you know of an example, please let me know, it could be of great help!

[2015-11-29 14:14] raffylo opened #28 ""close window/minimize/restore window" buttons still similar to ambiance"
First of all, this is a refreshing change to the Zukimack themes.
Right now Im experiencing the issue stated in Subject above.
I'm done installing both Theme and Icons. I also made clear to pick the theme and icon-set in both the Ubuntu Tweak and Unity Tweak Tool, but the Ambiance look for the buttons is still there. Anyone with similar issue?
Picture below shows flat-icon-green scheme, with the b

[2015-12-07 10:47] Swizz540 commented on #2
Hi buddies.

After, many days I found [atom/glitterbomb](https://atom.io/themes/glitterbomb).
It's pretty similar to the Anmol-Syntax.

[2015-12-08 17:58] bharadwaj-raju opened #29 "xfwm4 theme is Numix"
The `xfwm4` theme included defaults to the Numix theme.

Scrrenshot:  http://imgur.com/e1BIWNRl.png

[2015-12-08 20:09] keuk opened #30 "transparency of taskbars"
I installed theme,icons and it works properly. However, I need to change transparency of taskbars. I tried to find this changing setting within "Ubuntu tweak" tool but i cannot. How can i change transparency of taskbars ?

[2015-12-08 20:43] Defman21 commented on #30
If you're talking about the top panel (where are the global menu, notifications tray, etc.) - it's not possible to change it's transparency with Ubuntu Tweak Tool/Unity Tweak Tool/Any other tweak tool. AFAIK you have to replace a file (I don't know what file) with something semi-transparent somewhere in /usr/share/ directory.

[2015-12-08 20:48] keuk commented on #30
I'm not talking about top panel.

![screenshot from 2015-12-08 22-45-35](https://cloud.githubusercontent.com/assets/16212656/11668013/9b515f36-9dfd-11e5-9b98-6d90963b7889.png)

I'm talking about like this terminal's taskbar transparency. Can i change this ? Thank you for answer

[2015-12-08 20:54] Defman21 commented on #30
I'm not sure how did you get the following result. Looks like your installation is broken, there is no background for titlebars and only a window's shadow is visible.
Fetched from the upstream branch, it looks for me like this:
![sodesktop](https://cloud.githubusercontent.com/assets/7100645/11668194/d89b0d3e-9e06-11e5-937d-b6ec52c45dfa.png)

[2015-12-08 22:38] keuk commented on #30
Apart from this issue, everything looks great.

[2015-12-11 04:09] bernardesGean commented on #28
I have the same problem on MATE desktop. Any solutions or guidance is much appreciated.
* Sorry for my bad english.

[2015-12-19 20:43] MuhamedFathy opened #31 "Window bar transparent"
I installed the theme to day but i got transparent window bar like this ss:
![screenshot from 2015-12-19 22 10 30](https://cloud.githubusercontent.com/assets/4931115/11915136/cd068842-a6a1-11e5-88cc-4642f4344493.png)
So what to do now?

[2015-12-19 22:35] MuhamedFathy commented on #31
fixed it!

[2015-12-19 22:35] #31 closed

[2015-12-20 17:01] anmoljagetia commented on #30
@keuk I think oyur installation is broken I think! What version are you on?
Get the correct version from [here](https://github.com/anmoljagetia/Flatabulous/releases) based on your version of Ubuntu. Also, if you want, you can get it installed from Noobslab PPA using instructions listed [here](http://www.noobslab.com/2015/11/flatabulous-theme-makes-your-desktop.html).

@Defman21 Hey! How did you ge

[2015-12-20 17:05] anmoljagetia commented on #28
@raffylo @bernardesGean Your installation seems broken! Kindly fetch the correct installation based on your operating system and version from [here](https://github.com/anmoljagetia/Flatabulous/releases). Please let me know if this fixes it.

[2015-12-20 17:57] #30 closed

[2015-12-20 18:23] Defman21 commented on #30
@anmoljagetia it's [doge](https://github.com/thiderman/doge) command :)

[2016-01-02 18:28] therimalaya opened #33 "Getting Error after Installation"
Awesome theme, I am very happy with it, but I am getting error whenever opeing any file from terminal. I do not get any error if I disable the theme.

The Error is::
[code]

[2016-01-02 23:50] Defman21 commented on #33
If the theme works fine for you - just ignore those **warnings**.

[2016-01-03 04:47] marcosfede commented on #29
any solution to this bug?

[2016-01-03 10:01] Defman21 commented on #29
You should convert all window control buttons from `unity/` or `metacity-1/` to `xpm` format and then copy them to `xfwm4/`. After that you have to rename them.

[2016-01-09 04:19] FogoDev opened #34 "Possible port fo GNOME Shell"
I have been using your theme on my ubuntu with unity for some time, and I love it so much, but now I'm using the ubuntuGNOME and I still want your theme ):

Can I expect a Flatabulous port to GNOME Shell?

Sorry for any shit english, not my native language haha

[2016-01-15 21:15] jonppenny opened #35 "Battery indicator looks squashed."
Hi, there seems to be an issue with the battery indicator looking squashed. I have attached a screenshot.

I am using Ubuntu Gnome 15.10 with the Ultra Flat icons.

![screenshot from 2016-01-15 11-54-56](https://cloud.githubusercontent.com/assets/875191/12365474/04f2253c-bbcd-11e5-86d6-cc1d0bc74543.png)

[2016-01-18 15:49] rokosbrokos opened #36 "Issue with the top window bar, its transparent"
My top window bar ist transparent, dont know how to fix it. I tested the latest build and the Ubuntu 14.04 build, same issue.
![bildschirmfoto vom 2016-01-14 11 30 29](https://cloud.githubusercontent.com/assets/4314300/12395667/57f0ca62-be03-11e5-99da-15064e9b9de0.png)

[2016-01-19 17:07] anmoljagetia commented on #36
I can't reproduce it on a Ubuntu 14.04. Did you modify any transparency settings from ubuntu-tweak or another similar editor?

[2016-01-19 17:09] anmoljagetia commented on #35
Hi @jonppenny.

The icons are controlled by the icon theme. I will recommend Ultra-flat-icons or Super Flat Remix. Both of them are really nice :smiley:

[2016-01-19 17:15] anmoljagetia commented on #34
Thanks a lot @FogoDev. Your appreciation means a lot to me. I think, this theme should work with ubuntuGNOME as well. I'll try to make a port specifically for ubuntuGNOME version as well.

Cheers :beers:

[2016-01-19 17:16] anmoljagetia commented on #33
Thanks for reporting @therimalaya. I have been trying to catch all of the warnings. I'll fix them. However, I think they should not affect the performace of the theme.

[2016-01-19 17:41] #33 closed

[2016-01-19 18:39] jonppenny commented on #35
Hi @anmoljagetia

I am currently using the Ultra flat icons. Are you not the creator of these? If not, do you know who is?

Many thanks.

[2016-01-19 18:57] anmoljagetia commented on #35
I think stéphane sansonetti, also known as steftrikia. However, I think the project is not maintained anymore. You can also try [Super Flat Remix](https://github.com/daniruiz/Super-Flat-Remix-GNOME-theme), which is refreshingly awesome and derived from Ultra flat Icons.

[2016-01-19 19:53] jonppenny commented on #35
Great thanks for the info. I prefer the look of the Ultra flat over the Super flat so I'll see if I can resize the svg's myself. Thanks again.

[2016-01-20 09:10] #35 closed

[2016-01-20 09:28] rokosbrokos commented on #36
No, I reseted all settings to default...

[2016-01-20 09:32] anmoljagetia commented on #36
can you try again after downloading from [here](https://github.com/anmoljagetia/Flatabulous/releases), and installing with the .deb file?

[2016-01-20 09:41] rokosbrokos commented on #36
I already installed the .deb, same issue

[2016-01-20 09:52] anmoljagetia commented on #36
the top bat is controlled using [this code](https://github.com/anmoljagetia/Flatabulous/blob/master/gtk-3.0/apps/unity.css#L20-L35). Changing a few settings here might be able to solve this. Also, I can't reproduce this on my machine, so I think this can also be due to the cache of some transparency settings that you might have previously applied.

[2016-01-20 10:10] rokosbrokos commented on #36
Is there a way to clear this cache?

[2016-01-20 10:21] anmoljagetia commented on #36
The cache is usually stored in  `~/.gconf` and `~/.gnome` folder. However, be very careful while removing files from here, because a lot of other apps also store their settings here. I would say, delete the folder that stores the cache for Ubuntu-tweak, and that should fix it.

[2016-01-20 11:18] rokosbrokos commented on #36
checked both folders, no ubuntu-tweak/unity-tweak or anything similar inside, im really going crazy now... :)

[2016-01-20 11:33] rokosbrokos commented on #36
Ok I fixed it.. deleted the files from unity-tweak-tool and ubuntu-tweak in .cache from my user and root, quick restart with the default theme and it worked! anmoljagetia I'm really thankful for your supporta and for this epic theme!

[2016-01-20 11:59] anmoljagetia commented on #36
@rokosbrokos Thanks a lot for the appreciation! It means a lot :smile: :+1:

I'm glad you were able to fix it, and find this theme good for your use. Also, thanks for reporting it here, It might be helpful for anyone else who faces a similar problem in the future. Also, I saw a TU-Berlin folder on your Desktop (can't help but notice! :sweat_smile: ). Do you study there? I'm visiting Germany in a f

[2016-01-20 13:36] rokosbrokos commented on #36
Yes, I'm studing Computer Engineering at the technical university and I have to use Ubuntu/Linux alot for that. I'm really getting eyecancer from this default theme... btw Berlin is the best city to visit in Germany!

[2016-01-20 13:45] anmoljagetia commented on #36
I'm glad you like this theme. I hope this gives your eyes some much needed rest :)

I am a Computer Science student too, and I am moving to Europe for an internship. I have been looking forward to visiting Germany for quite some time now. I will be planning for Frankfurt, Berlin and Munich atleast in Germany. Can I ping you back, to find out some cool places in Berlin?

[2016-01-21 11:29] rokosbrokos commented on #36
of course!

[2016-01-23 05:52] anmoljagetia commented on #36
Thanks :+1: :smile:

I'm closing this issue for now, since the problem was solved. I'll ping you back here :)

[2016-01-23 05:53] #36 closed

[2016-02-13 15:10] posttragedy commented on #36
Just had the same problem. Had to hardcode the hex number from **gtk.css** to **unity.css**.
Have no idea, why it doesn't get passed automatically.
@anmoljagetia if you want to solve this problem together - I'm willing to provide any valuable information.
PS My unity panel half transparent, but when i changed transparency to none, the windows' titlebars remained transparent.
PPS Didn't have to rel

[2016-02-29 07:11] zhaozhongchen opened #38 "about Wallpaper"
Hello, thanks your theme. I very like it, including your wallpaper.
But could you provide me yours wallpaper? Thanks

[2016-02-29 10:39] hg8 commented on #38
https://plus.google.com/+JaromBradshaw/posts/FFnhcPqVaCc?pid=6001488417862207826&oid=115581491412616658975

[2016-03-01 04:47] #38 closed

[2016-03-04 13:53] Francolpm opened #40 "Receiving support?"
Hi there! This isn't a issue but I didn't know where to ask!
Are you accepting donations or supports? Because may you get some extra support for Flatabulous!
I don't trying to spam you, but I want to invite you to beerpay.io, a simple platform to monetize open source projects, like Flatabulous.
I know that the open source is free, but it's okay if someone want to contribute in other way.

Thanks f

[2016-03-06 11:27] simonuvarov commented on #36
@posttragedy can you clarify what did you do? I have the same problem on almost-just-installed ubuntu 14.04. So there's no files in .cache directory yet.

[2016-03-06 14:06] anmoljagetia commented on #36
@simonuvarov good job! Can you send a PR?

[2016-03-06 15:42] simonuvarov commented on #36
@anmoljagetia sure, I didn't try to match colours and did just #000000, but I'll take closer look this evening and then send PR.

[2016-03-18 17:13] vooze opened #43 "Ubuntu 16.04"
Hi..

I use your theme on both laptop and desktop, and wanted to hear if you are gonna support Ubuntu 16.04 as well? It should be quite close to 15.10 since it uses it same nautilus.

Thank you for a great theme!

[2016-03-19 20:51] anmoljagetia commented on #43
Hey @vooze!

Sure, I am going to support Ubuntu 16.04. It's actually on a very high priority right now! But, I'd like to roll out changes as soon as I can!

[2016-03-20 15:05] vooze commented on #43
Awesome, looking forward to it! :)

[2016-03-21 10:27] heyanlong commented on #43
When support 16.04?

[2016-03-23 21:48] itsmehran opened #44 "Background color of Telegram unread messages counter"
Hi.
This theme is awesome. every thing is cool! Thank you!! :+1:
But i have an issue with "background color of Telegram unread messages counter".
Actually it's not an issue, but its background color... It is not so cool.

![asd](https://cloud.githubusercontent.com/assets/7046255/14001920/30b1512e-f166-11e5-92de-5f891dbf1298.png)

[2016-03-24 08:16] leozhang2018 commented on #43
looking forward to supporting 16.04

[2016-03-26 09:46] krzysztofbalana opened #45 "Ubuntu 16.04 minor issue"
Hi!

I'm testing your theme with Ubuntu 16.04 and for now I've noticed only one minor issue. 0px paddings/margins inside Nautilus sidebar.
Preview: http://imgur.com/1gqPLQJ
Because look&feel is mainly done with CSS I was wondering, maybe you can guide me to find a proper class name in order to add this missing paddings?

P.S.
I've tried other themes from other providers and they had same issue.

G

[2016-03-26 09:51] krnekhelesh commented on #14
FYI this bug only appears when the unity overlay scrollbars are used. This is fixed in 15.10 because they switched to using gnome scrollbars. I have noticed this bug with Numix themes as well. Disabling overlay scrollbars fixes this theme issue in 14.04.

[2016-03-30 08:47] JarvanMo opened #46 "Can't find your PPA on ubuntu 16.04"
I tried as you suggested  but it didn't work.
I can't find package : ultra-flat-icons

[2016-04-02 15:52] vooze commented on #46
the icons he suggests are not his own.

[2016-04-02 15:59] Defman21 commented on #46
You can install them with this command:
[code]

[2016-04-02 16:52] Defman21 opened #47 "Light version?"
I would like to have a light version of this theme, with light titles, etc. Do you have any plans on creating it?

[2016-04-02 18:03] Defman21 commented on #36
Hardcoring those colors isn't a proper fix, probably a workaround that should not be in the master branch. Btw I'm not able to reproduce it with 16.04. So if somebody is able to reproduce the issue when the colors are not hardcored, please run any app via terminal and post the output in this issue. There should be some GTK errors which could help fixing the issue properly :)

[2016-04-02 18:23] Defman21 commented on #10
@ebruck are you still able to reproduce this issue?

[2016-04-02 18:28] Defman21 commented on #6
@anmoljagetia to fix this, you should create a new png file: `$THEME_PATH/unity/launcher_icon_selected_back_{54, 150}.{svg, png}`. This png will be drawn before the icon which is selected by Super+tab (according to [the docs](https://wiki.ubuntu.com/Unity/Theming))

[2016-04-03 10:07] anmoljagetia commented on #36
@Defman21 Thanks! You're right, this isn't a proper way of fixing it, and I can't reproduce, it again too! If a few other people confirm that, we can revert back to the old method of external loading?

[2016-04-03 10:10] anmoljagetia commented on #47
I am a dark theme fan! However, this looks like an interesting approach for the same! It needs a fair bit of conceptualization, including the color palette etc, however, this could be very well, worth the effort!

[2016-04-03 10:11] Defman21 commented on #36
Well I think we can. But if they will follow my steps then we could fix it properly or at least file a bug report to an external project (probably Unity).

[2016-04-03 10:13] Defman21 commented on #47
In case you'll be wondering how to implement that in one theme - you can move current colors to `gtk-dark.css` and put light colors in `gtk.css` and add a note to the readme that if you want to see dark theme, open gnome tweak tool and enable Global Dark Theme option (this setting makes theme using `gtk-dark.css`)

[2016-04-03 10:14] anmoljagetia commented on #36
@Defman21 Thanks! and it sure looks like a better way of dealing with the problem! Let me know, if you need any help from my end!

[2016-04-03 10:16] anmoljagetia commented on #47
Sure, that makes sense! just need to tweak some colors to have a light version! Shoot over a PR, if you have anything prepared! (Against a new branch, for development of light version I think!)

[2016-04-03 10:20] Defman21 commented on #36
@rokosbrokos @simonuvarov @posttragedy are you able to reproduce the problem without hardcoring the title color? (`git clone https://github.com/anmoljagetia/Flatabulous.git && cd Flatabulous && git revert HEAD -n`)

[2016-04-03 10:21] Defman21 commented on #47
I've played a bit with it but first we need to deal with #36 if we want to accept any PR's for this issue.

[2016-04-03 10:41] Defman21 commented on #47
@anmoljagetia the default one should be dark or light?

[2016-04-03 11:03] Defman21 commented on #47
@anmoljagetia https://github.com/Defman21/Flatabulous/tree/light

[2016-04-03 11:53] posttragedy commented on #36
@Defman21 Yeah, the problem still appears.
![screenshot from 2016-04-03 14-51-01](https://cloud.githubusercontent.com/assets/16281247/14232233/b2326394-f9ab-11e5-98ce-a317d5656789.png)

[2016-04-03 12:02] Defman21 commented on #36
Please open a terminal, run nautilus from it and copy everything you'll get in the terminal.

[2016-04-03 12:03] posttragedy commented on #36
(nautilus:3803): Gtk-CRITICAL **: gtk_icon_theme_get_for_screen: assertion 'GDK_IS_SCREEN (screen)' failed

(nautilus:3803): GLib-GObject-WARNING **: invalid (NULL) pointer instance

(nautilus:3803): GLib-GObject-CRITICAL **: g_signal_connect_object: assertion 'G_TYPE_CHECK_INSTANCE (instance)' failed

[2016-04-03 12:04] Defman21 commented on #36
What's your Ubuntu version?

[2016-04-03 12:05] posttragedy commented on #36
15.10

[2016-04-03 12:06] Defman21 commented on #36
That's something I wasn't experiencing when I was using 15.10... Hmm...

[2016-04-03 12:18] Defman21 commented on #36
Btw your Nautilus looks not like it should.
![nautilus](https://camo.githubusercontent.com/1c2f9a440ed8a7b32fffefb9ffd1b4068da0ff63/687474703a2f2f692e696d6775722e636f6d2f795842365653612e706e673f31)

[2016-04-03 12:25] posttragedy commented on #36
That's odd. I don't recall changing anything that leads to such difference in nautilus interface.

[2016-04-03 12:32] Defman21 commented on #36
In OP's sreenshot I can see the same thing - dark background. But in the code it's sets to `#dcdcdc`

[2016-04-03 13:11] vooze opened #50 "16.04 unity tweak tool"
Hi.

Since I see you are preparing for 16.04, I found another small bug, no big deal really, it's just a bit annoying for my semi OCD ;)

![selection_006](https://cloud.githubusercontent.com/assets/9928653/14232554/24778a36-f9ae-11e5-8749-cd3324aabbcf.png)

It seems to work well with arc (https://github.com/horst3180/arc-theme) and numix (https://github.com/shimmerproject/Numix) in 16.04, so it sh

[2016-04-03 13:27] Defman21 commented on #50
Fixed in #51

[2016-04-03 14:09] Defman21 opened #52 "Make scrollbar thinner"
12px is too much for a scrollbar. I think 8 or 6 is a good value.

[2016-04-03 14:16] vooze opened #53 "Ubuntu 16.04 new gnome apps without metacity?"
Found this little bug. First image is arc theme (https://github.com/horst3180/arc-theme) and secound is flatabulous.

![selection_007](https://cloud.githubusercontent.com/assets/9928653/14232847/53e05aec-f9b7-11e5-966c-39b490214b24.png)
![selection_008](https://cloud.githubusercontent.com/assets/9928653/14232848/57a99ef4-f9b7-11e5-99f7-689dbf8bd301.png)

Is it fixable?

[2016-04-03 15:09] Defman21 commented on #53
Should be easy to fix, just need to add styles for CSD things.

[2016-04-03 15:20] Defman21 commented on #53
Btw Ubuntu does not use Metacity in any form anymore. It uses its own decorations or Gnome decorations.

[2016-04-03 15:32] vooze commented on #53
I figured it was something else, that's why I added a question mark. But thank you for explaining it :-)

[2016-04-03 16:49] rnoons opened #54 "Ubuntu 16.04 Checkboxes"
Running the latest 16.04 beta build of Ubuntu and gave Flatabulous a shot for the first time. Radial and regular checkboxes seem to be broken. Verified working with default theme.

![screenshot from 2016-04-03 12-47-51](https://cloud.githubusercontent.com/assets/18247516/14233558/650148ee-f99a-11e5-8c97-fdb1e85a6c76.png)
![screenshot from 2016-04-03 12-48-32](https://cloud.githubusercontent.com/as

[2016-04-03 16:57] Defman21 commented on #54
Works fine for me.
![Imgur](http://i.imgur.com/IPFkMiC.png)
![Imgur](http://i.imgur.com/OWtEHYd.png)

[2016-04-03 17:12] rnoons commented on #54
Argh... Thought I had grabbed the latest DEV branch, I was still on master :( Anyway gorgeous theme!

[2016-04-03 17:12] #54 closed

[2016-04-03 17:15] Defman21 commented on #54
My link is a fork, you should grab anmoljagetia/Flatabulous.

[2016-04-04 10:40] anmoljagetia commented on #52
I agree with you on that. It would be great if someone using a high density screen could also comment on that. (which was the initial idea of having 12).

[2016-04-04 10:43] #45 closed

[2016-04-04 10:48] anmoljagetia commented on #44
I am not sure if that's a theming issue, or more from the app itself! Can you reproduce this with any other theme?

[2016-04-04 11:15] johnlomov opened #55 "Padding in Nautilus context menu "Copy in...". Ubuntu 16.04"
![2016-04-04 14-10-52](https://cloud.githubusercontent.com/assets/12576359/14246400/81d48fb4-fa6f-11e5-98ea-7b983e2c74d2.png)

[2016-04-04 11:17] anmoljagetia commented on #55
This has already been reported as issue #45 and was fixed in Pull request #48. Can you try again with the latest master branch?

[2016-04-04 11:22] johnlomov commented on #55
Yes, padding in nautilus fixed, but in context menu "Copy in..."
![2016-04-04 14-18-52](https://cloud.githubusercontent.com/assets/12576359/14246538/9322395a-fa70-11e5-96c6-2c07597855f1.png)

[2016-04-04 11:22] Defman21 commented on #55
I'll try to fix it.

[2016-04-04 11:51] johnlomov commented on #55
Same "Extract to" in Archive Manger

[2016-04-04 12:09] itsmehran commented on #44
With Numix theme:
![screenshot from 2016-04-04 16 38 14](https://cloud.githubusercontent.com/assets/7046255/14247495/b8ccef02-fa83-11e5-89b6-566bc0c204f0.png)

[2016-04-04 12:11] anmoljagetia commented on #44
Cool thanks 👍
Should be a small fix (I suspect in the tooltip section).

[2016-04-05 06:08] vooze commented on #52
I have a 27" 1440p screen and a 1080p 14" laptop. Is that high DPI enough? It seems okay to be currently. Maybe 8/10 instead of 12, but I think 6 is gonna be too small.
![selection_001](https://cloud.githubusercontent.com/assets/9928653/14272676/69210614-fb05-11e5-9abb-8531c616c16c.png)

this is from my laptop. But with high DPI everything should double (if you use 2x scaling like on a 4K screen)

[2016-04-05 07:49] Defman21 commented on #52
6 looks small on any screen size huh, 8 is good I think

[2016-04-05 08:37] anmoljagetia commented on #52
@Defman21 I think 8 is good too! Let's change it to that!

Also, looking at @vooze's screenshot, I think, for the menubar in the terminal, we should also add some padding-bottom ?

[2016-04-05 09:14] Defman21 commented on #52
So there should be a padding at the bottom of terminal? I don't get it

[2016-04-05 09:24] anmoljagetia commented on #52
In the top header of the applications. Where the Red, Yellow and Green buttons are!

[2016-04-05 09:30] vooze commented on #52
Looks just fine to me :)

[2016-04-05 11:01] anmoljagetia commented on #52
It is okay, just noticed that the top and the bottom are not equal.

[2016-04-05 11:02] anmoljagetia commented on #2
Added a section to answer this in the README.

[2016-04-05 11:02] #2 closed

[2016-04-05 11:03] anmoljagetia commented on #1
Answered this in the README for future references to the same.

[2016-04-05 11:03] #1 closed

[2016-04-06 18:04] Defman21 commented on #8
@anmoljagetia could you close this issue?

[2016-04-06 22:44] anmoljagetia commented on #8
Closing since this is irrelevant for 16.04

[2016-04-06 22:44] #8 closed

[2016-04-06 22:45] #55 closed

[2016-04-07 13:49] johnlomov opened #57 "Bad colors in Archive Manager and Document Viewer"
![2016-04-07 14-44-23](https://cloud.githubusercontent.com/assets/12576359/14353162/952896b4-fce0-11e5-9a2c-0ae9c324feab.png)

[2016-04-07 14:18] Defman21 commented on #57
Are these menus?

[2016-04-07 14:21] johnlomov commented on #57
Yes, they are

[2016-04-07 17:49] anmoljagetia commented on #57
What version is this?

[2016-04-07 18:15] johnlomov commented on #57
Sorry! Ubuntu 16.04

[2016-04-08 11:27] simonuvarov commented on #34
I'm working on it and I've successfully changed the buttons and not the theme looks like:
![Gnome]
(https://i.imgur.com/lxoo7TM.png)

But as you can see the top bar is light so I wanted to ask: maybe you know how to change its color?

[2016-04-09 09:38] itsmehran commented on #44
Also i have found one other thing that I think it's related to Plank.
in telegram or any other program, when plank is hidden and i click on a link address, a slowly
Blinking light will be appear.
While using Flatabulous it is Red color:
![adasd](https://cloud.githubusercontent.com/assets/7046255/14403013/1458f592-fe5c-11e5-9ecb-2aa5c9289bc9.png)

And when using Default Ubuntu theme:
![screenshot f

[2016-04-09 11:51] #50 closed

[2016-04-11 08:04] simonuvarov commented on #57
I have something similar in Gnome.
![Gnome bad menu]
(https://i.imgur.com/kuPpFKT.png)
Btw I'm trying to port your theme into Gnome Shell. Here: https://github.com/anmoljagetia/Flatabulous/issues/34

[2016-04-14 21:39] indriApollo opened #58 "Theme broken with gnome-shell 3.20+"
Gnome 3.20 changed its css , see https://wiki.gnome.org/ThreePointNineteen/ReleaseNotes#GTK.2B-
This is the unfortunate result :
![Imgur](http://i.imgur.com/HyscRQm.jpg)

[2016-04-15 12:29] chobit commented on #43
+1

[2016-04-15 17:13] ebruck commented on #10
No, it seems to of been fixed.

[2016-04-15 17:13] #10 closed

[2016-04-16 19:27] JonathanBergers commented on #43
you can enable the theme with the unity tweak tool.
see: http://itsfoss.com/how-to-install-themes-in-ubuntu-13-10/
then open a terminal and start unity-tweak-tool

i cant get the icons to work getting error
E: Unable to locate package ultra-flat-icons-orange
Is there some way i can download it without terminal and add the icons myself?

[2016-04-16 19:29] JonathanBergers commented on #43
EDIT:

found the icons here: https://launchpad.net/~noobslab/+archive/ubuntu/debian/+sourcepub/4751335/+listing-archive-extra

:+1:

[2016-04-16 19:34] Defman21 commented on #43
[code]

[2016-04-16 21:17] hladik-dan commented on #58
Not sure about Gnome but same thing happened to me in Xfce.
Solved by installing 'gtk-engine-murrine'.

[2016-04-17 14:56] indriApollo commented on #58
I have ```gtk-engine-murrine-0.98.2-2``` installed.

[2016-04-17 15:31] Defman21 commented on #58
There's no official support for Gnome, only Unity.

[2016-04-17 20:56] vooze commented on #43
Hi. Sorry if I sound like am idiot, but how is 16.04 support coming along? Seems there still are quite a few issues. Let me know if some donations or something could help, since I can't really help with the code.

[2016-04-19 09:19] vooze opened #59 "Ubuntu 16.04 - nautilus sidebar"
I noticed a new bug (I think)

This is 14.04 nautilus:
![selection_013](https://cloud.githubusercontent.com/assets/9928653/14634026/71381c86-0620-11e6-9214-9c9af51cf2de.png) - I changed some of the colors, thats never mind that.

And here is 16.04:
![selection_012](https://cloud.githubusercontent.com/assets/9928653/14634040/82ccad22-0620-11e6-9fb3-ded1f0591b0e.png) - Really minor thing, but someth

[2016-04-19 09:55] vooze opened #60 "Ubuntu 16.04 - nautilus save as"
So, I think the text should be a bit more from the edge. Look here

14.04:
![selection_014](https://cloud.githubusercontent.com/assets/9928653/14635223/bc6f9e90-0625-11e6-94e2-fe2ccb5b193e.png)

16.04:
![selection_016](https://cloud.githubusercontent.com/assets/9928653/14635227/c2f41048-0625-11e6-8157-a2e1c914a31c.png)

Maybe I'm a bit picky, but the old one looks nicer :)

To replicate it, open "

[2016-04-19 09:59] terzag opened #61 "Wrong color for the Metacity theme"
Hello,
On Ubuntu Mate (that uses Metacity themes for WM), I noticed that the border color looks lighter than it should. In the theme screenshots (taken on Unity, thus not using Metacity), the theme uses #2d2d2d as border color; in metacity-theme-1.xml, it is set instead to #424242 for some reason and doesn't match the windows' menu.

[2016-04-19 10:45] vooze commented on #61
Theme is only for Unity.

[2016-04-19 10:48] terzag commented on #61
It includes a Metacity theme, thus it's supposed to be usable on other DEs. It only involves replacing one value in the XML file to fix it.

[2016-04-19 12:31] anmoljagetia commented on #61
@terzag Can you issue a PR for the same?

This is a small fix, and should be fairly easy to fix (I am also assuming, that you already know, what to do, considering the description of the issue).

[2016-04-19 12:34] anmoljagetia commented on #60
Thank you @vooze !
The old one is definitely better! The new documentation states, that all the system level paddings have been removed, Therefore, specifically, padding has to be added for all the items. Thank you for showing, exactly how to reproduce!

[2016-04-19 12:35] anmoljagetia commented on #59
Definitely, the old one looks better! Minor, but important. Thanks!

[2016-04-19 12:36] anmoljagetia commented on #58
@indriApollo Will probably get to this later, once I can get around the unity issues. I have been increasingly getting less time, because I am in a new country, however, thanks for reporting this! I will try and get to this, once the Unity basic issues are fixed!

[2016-04-19 12:37] terzag commented on #61
What is a PR and how do I issue one?

As for the fix, it only involves replacing every occurence of "#424242" by "#2d2d2d" in metacity-1/metacity-theme-1.xml.

[2016-04-19 12:41] anmoljagetia commented on #61
It is fairly easy! Just make the changes (in this case, change the occurances of #424242 by #2d2d2d, in the designated file, commit your changes, with a meaningful commit, like 'GH-61 Fixes wrong border color for Metacity Theme".

Then follow the steps [here](
https://help.github.com/articles/using-pull-requests/).

[2016-04-19 12:58] terzag commented on #61
To quote the immortal words of Homer Simpson: "Can't someone else do it?"

Seriously, I don't understand anything about cloning repos, "pulling branches", "making new branches", "committing" changes. I was just hoping that reporting an issue might get it fixed, I had no idea it involved forking the project and learning a shitload of things to do just to fix a small problem.

Sorry, just consider c

[2016-04-19 12:59] vooze commented on #61
I'll try. Hang on.

[2016-04-19 13:06] vooze commented on #61
Done :)

[2016-04-19 13:06] anmoljagetia commented on #61
@terzag Don't worry! This is fairly easy to fix! Don't be intimidated by the 'big words', it's more or less very straight forward.

@vooze Thanks a lot. I am also presently, concerned about #57, which is a pretty major bug. Can you let me know, if you have any information on that?

[2016-04-19 13:09] vooze commented on #61
@anmoljagetia I can give it a try, not really a coder, but I tend to understand it better, than writing it. I'll have a look at other themes later to try to figure it out.

[2016-04-19 13:11] anmoljagetia commented on #61
@vooze Thanks a lot! I have been doing the same lately, due to lack of good documentation on the new version, and since I am in a new country, it is also getting harder to devote some time, however, I would like to get this done as soon as I can! Thanks once again for the help, looking forward to your insights on #57 .

[2016-04-19 13:13] anmoljagetia commented on #61
Also, Closing, as this was fixed in #62.

[2016-04-19 13:13] #61 closed

[2016-04-19 17:04] vooze commented on #57
Anyone have some idea where the code for this is located? I'll try to look at other themes to compare and fix it.

[2016-04-19 18:02] meridani opened #63 "Checkboxes not visible in software sources"
![Original Theme](http://i.imgur.com/VgjyC4F.png)
![Flatabulous Theme](http://i.imgur.com/pZtGzus.png)

And some gnome(I think) windows does not get decorated.

I installed from the .deb file, the recommended way. Fresh install of Ubuntu.

[2016-04-22 08:52] Fisto69 commented on #63
Ditto, have this problem as well.

clicking adds no checkmark or anything, have to click it and close it and hope it worked.

[2016-04-22 23:21] kevinarefunny opened #64 "Nautilus rendering issue"
I am getting this error here https://i.imgur.com/TWNF9hf.png

[2016-04-23 10:16] fourtytwo commented on #63
Yea same here.

[2016-04-23 12:32] vooze commented on #64
This should be fixed. Have you tried to download it again?

[2016-04-23 13:18] kevinarefunny commented on #64
Sorry, I was using the PPA. I just installed it manually to my .themes folder. It's fixed now thanks.

[2016-04-23 13:19] vooze commented on #64
Please press close :)

[2016-04-23 13:21] #64 closed

[2016-04-23 15:49] Defman21 opened #65 "Padding for gnome-terminal"
I think it could be nice to have a little padding for gnome-terminal. I've played with that, and I've found the best padding for it:
 * top, bottom: 5px
 * left, right: 10px

The screen: (and the code)

![terminal-padding](https://cloud.githubusercontent.com/assets/7100645/14762483/7907bd62-098c-11e6-9e14-52505c6eef32.png)

[2016-04-23 16:36] Defman21 opened #66 "Better gnome-terminal tabs"
I think they should be dark, not light.

[2016-04-24 18:05] Defman21 commented on #66
I've tried to implement it but it's not possible - there's a GtkBox with "plus" icon and dropdown list of tabs which glitchy :(

[2016-04-24 18:14] Defman21 commented on #63
Ubuntu version? Using 16.04 LTS, master branch, it looks for me in this way:
![software-and-updates-flatabulous](https://cloud.githubusercontent.com/assets/7100645/14769469/e5844928-0a69-11e6-825a-f4a18f7687d7.png)

[2016-04-24 18:15] Defman21 commented on #60
I don't like the old one, but for sure there should be a padding for File Format and Image Files things.

[2016-04-24 18:18] rockwotj commented on #63
I'm using 16.04 LTS, the Thursday release from the website and am getting the same as @meridani

[2016-04-24 18:21] Defman21 commented on #63
Are you using the deb package or you pulled the master repository?

[2016-04-24 18:40] Fisto69 commented on #63
i used the PPA and than sudo apt-get install and i have this problem.

[2016-04-24 18:44] Defman21 commented on #63
So could you try to install it with git?
[code]

[2016-04-24 18:48] Fisto69 commented on #63
im not comfortable using git so if someone else could give it a try id appreciate it.  can't use the theme until this is fixed.

[2016-04-24 19:16] meridani commented on #63
If I install it via git and I update it do I have to reinstall it when New version is available?

[2016-04-24 19:45] rockwotj commented on #63
@Defman21 I'll try tonight to see if that fixes the issue and let you know. Thanks!
I had installed from the deb, sorry for the confusion

[2016-04-24 21:34] rockwotj commented on #63
That worked! :smile: Thanks @Defman21

@meridani

I simply cloned the repo in the `~/.themes` repo and it worked. I don't think you need to reinstall, I just think you need to pull the repo again to get the latest changes. I'm not sure if you need to reload it some how in tweak, but I can see the checkboxes now.

Also if you look in the updates section of the readme, it says that this issue has be

[2016-04-25 10:23] stuaxo commented on #58
These issues don't look gnome-shell specific - see whats happened to Nautilus in the screenshot.

This is probably Gtk 3.20 and its CSS theming changes.

At home I use Ubuntu+Gnome Staging and on upgrade have exactly the same effect in Nautilus sidebar and breadcrumbs bar - and this is with a different theme.

[2016-04-25 10:46] stuaxo commented on #57
The thing to do is to get GtkParasite and have a play with it.   You can see the actual CSS code inside the .themes directory where you installed Flatabulous (usually ~/.themes).

[2016-04-25 10:57] mberneaud opened #69 "Nautilus bookmark options on right-click: colours blend."
I noticed that in Ubuntu 16.04 the theme colours in Nautilus are such that hardly any text is visible in the right-click menu which is used to manage bookmarks in Nautilus. Please see the image below. The colours change on hover, so it is still usuable, but a bit more finicky than it could be.

![Example](https://cloud.githubusercontent.com/assets/15064942/14781805/1a600d0a-0ae5-11e6-8097-3d88adcb

[2016-04-25 12:17] Fisto69 commented on #63
@rockwotj how would we go about requesting the PPA get updated with the new version?

[2016-04-25 12:37] Defman21 commented on #63
@anmoljagetia :)

[2016-04-25 12:56] Fisto69 commented on #63
oh okay than.  paging @anmoljagetia

[2016-04-25 14:08] rsobon commented on #69
I also get this result.

Also when I install through first option:
https://github.com/anmoljagetia/Flatabulous#1-using-the-deb-file-for-debian-ubuntu-and-derivatives-recommended
I have the issue of transparent check-box and transparent radio buttons (which is supposed to be fixed in 1.1)

When I install through second option:
https://github.com/anmoljagetia/Flatabulous#2-using-the-noobslab-ppa
The

[2016-04-26 00:32] anmoljagetia commented on #63
@Defman21 Thank you for taking charge in the recent days. I really appreciate all the work you've put in! Thanks a ton.

@Fisto69 Thanks for paging me. I will write to the NoobsLab people and try and get them to take the new build, however, I would like to fix a few more things before releasing the new version for 16.04. For now, I'll change the README and modify the installation instructions.

[2016-04-26 00:45] #66 closed

[2016-04-26 00:45] #69 closed

[2016-04-26 00:45] #60 closed

[2016-04-26 00:54] anmoljagetia commented on #65
I agree with you! Looks really good! The padding is broken, almost everywhere! I am also considering some global padding? What are your thoughts on that?

[2016-04-26 00:57] anmoljagetia commented on #57
Fixed in #70. Thanks @Defman21.

[2016-04-26 00:57] #57 closed

[2016-04-26 00:59] #6 closed

[2016-04-26 01:02] anmoljagetia commented on #9
I think this is fixed in 16.04. @ebruck @Defman21 can you review this?

[2016-04-26 01:03] anmoljagetia commented on #11
Fixed in #70

[2016-04-26 01:03] #11 closed

[2016-04-26 01:04] anmoljagetia commented on #14
Fixed in Ubuntu 16.04. @Defman21 @krnekhelesh @ebruck @simonuvarov Can you review?

[2016-04-26 06:15] GuessEver opened #71 "Ubuntu 16.04 Cannot See anything in the menu"
When I click the right button, I see this
![screenshot from 2016-04-26 14-13-52](https://cloud.githubusercontent.com/assets/9291770/14808603/39085efe-0bb9-11e6-8110-ff48374a7259.png)

How can I fix this?

And the left margin seems to have problems too

[2016-04-26 06:23] Defman21 commented on #71
I've fixed all of these issues. Install the theme with git.

[2016-04-26 06:25] Defman21 commented on #71
https://github.com/anmoljagetia/Flatabulous/issues/63#issuecomment-214021978

[2016-04-26 06:30] GuessEver commented on #71
Thanks! solved

And by the way, I happened to use the theme with all black, including Files background. But I cannot find it now...

[2016-04-26 07:46] omixk opened #72 "fail to change icon on ubuntu 16.04"
I have a virtualbox machine runs ubuntu 16.04,  the icon of folder and launch bar failed to change
![screenshot from 2016-04-26 15-38-47](https://cloud.githubusercontent.com/assets/15977162/14810636/761fca22-0bc6-11e6-8efa-a4a05bffab52.png)

[2016-04-26 07:48] omixk commented on #72
![screenshot from 2016-04-26 15-46-49](https://cloud.githubusercontent.com/assets/15977162/14810609/5b734f8c-0bc6-11e6-951d-36f6be6ae180.png)

[2016-04-26 12:02] Defman21 commented on #9
Using Android Studio 2.0, I don't see this issue.

[2016-04-26 12:03] Defman21 commented on #14
both gedit and nautilus looks properly.

[2016-04-26 12:06] Defman21 commented on #65
Global padding is a bad idea. Elements mostly has their own padding/margin, so there's no reasons to add it globally.

[2016-04-26 14:21] mberneaud commented on #69
Works perfectly now. Thanks for the quick fix.

[2016-04-26 14:34] anmoljagetia commented on #65
I agree with you on the gobal padding. I tried it, and it broke all the apps. Let's do the 5px 10px padding 👍

I am also going to replace the png assets with svg, so that the theme scales well on a HDPi monitor, which is again my concern, if the padding will be enough on those screens? I don't have a screen around to test, however I would like if somebody could comment on that.

[2016-04-26 14:37] anmoljagetia commented on #9
Me neither, with a bunch of GTK Apps (Calculator, Ubuntu Tweak, and GEdit). Closing as this is not relevant anymore.

[2016-04-26 14:37] #9 closed

[2016-04-26 14:38] anmoljagetia commented on #65
@vooze Would be great if you could provide some input?

[2016-04-26 14:43] vooze commented on #65
@anmoljagetia To be honest padding have never bothered me in a terminal, but I can see it looks just fine. But maybe 10 is a bit too much?

[2016-04-26 14:45] vooze commented on #72
Update the theme. A lot of changes have gone into it lately.

[2016-04-26 14:45] anmoljagetia commented on #65
Yeah, 8 could be nice. Because I am using the Hack font for terminal, and it has less line height, so 10 does look a bit too much.

@Defman21 I think you are using Source Code Pro? Which has a higher line height, so 10 seems more appropriate. I would like to get your input on that. Let's set it at 8px or 10px ?

[2016-04-26 14:47] anmoljagetia commented on #72
Get the latest master branch. These have already been fixed. A new version should be out soon. I should also update the README, so people don't run into the same problems, over and over again.

[2016-04-26 14:49] vooze commented on #71
@GuessEver You can't find your old modified theme? How are we supposed to help with that? :/

[2016-04-26 14:50] vooze commented on #59
@anmoljagetia Is this something you put in? (the original icon) or something that came from the theme you based this on? I think we should try to just remove it all together.

[2016-04-26 14:54] vooze commented on #58
GTK 3.20 have soo many changes.  I guess would be this will take time. Also Ubuntu is moving to Mir / unity8 in next release (probably) so I don't see the point in trying to keep up with gnome shell. Though that's @anmoljagetia decision.

[2016-04-26 15:03] Defman21 commented on #71
@GuessEver you could try enable Global Dark Mode (or something like that) in Gnome Tweak Tool and then re-login to your session to apply changes, but I can't say how good dark theme is.

[2016-04-26 15:11] Defman21 commented on #65
I'm using Hack at 12pt. My text scaling factor is 0.94 (90DPI). I don't really care about 8px or 10px, 2px is a very little value so I don't see much difference in these, but @vooze point seems fair, so I'd prefer 8px over 10px. But top/bottom should be 5px, there are no reasons to have bigger padding for top and bottom, it looks not good imo.

[2016-04-26 15:34] vooze commented on #65
@Defman21 Agreed!

[2016-04-27 01:31] omixk commented on #72
Can you delete this issue ? I forgot to install the icon.... I'm sorry.

[2016-04-27 09:58] #72 closed

[2016-04-27 20:44] msidlo opened #73 "nautilus color"
Hi,
my nautilus has dark background. I was trying to change some colors, in unity.css, but it did't work.
my nautilus:
http://i.stack.imgur.com/nC17Z.png
it should look like this:
https://camo.githubusercontent.com/1c2f9a440ed8a7b32fffefb9ffd1b4068da0ff63/687474703a2f2f692e696d6775722e636f6d2f795842365653612e706e673f31

My PC:
Ubuntu 14.04

Can you help me please ?

[2016-04-27 20:48] Defman21 commented on #73
How did you install the theme?

[2016-04-27 20:52] msidlo commented on #73
I used the 3. option(manually) and I also tried using the .deb file.

[2016-04-27 21:48] vooze commented on #73
If you tried to change something, and you did something wrong, then download it again? Or did you turn on dark theme in gnome tweak tool?

[2016-04-28 09:20] CreamyCookie opened #74 "Provide an easy show the bg color in the Unity launcher again"
Usually an application icon in the Unity launcher, whenever that application is running, has a background color calculated based on the colors of that icon. I think this not only looks better but it also makes it easier to see if an app is running. Please provide a way to enable that again.

![launcher icon bg](https://cloud.githubusercontent.com/assets/3063858/14881168/1fa235a4-0d33-11e6-9d1a-316

[2016-04-28 11:22] Defman21 commented on #74
Hmm interesting

[2016-04-28 12:05] bluelightzero opened #75 "New firefox 46.0 update works really poorly with Flatabulous"
http://i.imgur.com/5e4XgiX.png

[2016-04-28 12:22] Defman21 commented on #75
You can enable Developer Theme, it looks pretty good.
Anyway my Firefox 47 looks like this:
![firefox](https://cloud.githubusercontent.com/assets/7100645/14885598/5aa2edea-0d5d-11e6-9795-97dbc94acbda.png)

[2016-04-28 12:23] bluelightzero commented on #75
Thanks, I found you can also disable dark theme using Tweak Tool

[2016-04-28 12:23] Defman21 commented on #75
Dark Theme is not a good choice atm, it has a few bugs that should be fixed.

[2016-04-28 12:24] Defman21 commented on #73
It looks like Dark Theme is enabled. Disable it in gnome tweak tool :)

[2016-04-28 12:26] vooze commented on #74
I hate that feature about Ambiance. I vote not to implement this.

[2016-04-28 12:28] Defman21 commented on #74
It just looks ugly in Ambiance..

[2016-04-28 12:30] Defman21 commented on #74
but ok I'll make it configurable :)

[2016-04-28 12:30] msidlo commented on #73
Yep, thanks a lot ! It worked like a charm :) It did not cross my mind... because it's unity, not gnome

[2016-04-28 12:31] vooze commented on #74
That sounds like a good idea. Some people will probably find this good.

[2016-04-28 12:40] Defman21 commented on #74
Done in my pr. If you want to use colored icons, go to $THEME_INSTALL_DIR/unity/extras and run `switch.sh`

[2016-04-28 13:26] CreamyCookie commented on #74
@Defman21 Thank you so much!

[2016-04-28 15:59] Fisto69 commented on #74
@Defman21 the only thing id like to add, if your going to do this. can you implement another option that similiar but only when the application is launching?   in default unity if you click something on the taskbar while its loading/launching the icon background flashes a bit slowly.. but this is lacking in this theme so sometimes i have no idea if something is loading or not and just have to wait

[2016-04-28 16:06] Defman21 commented on #74
@Fisto69 could you please open a new request for this? :)

[2016-04-28 16:13] Fisto69 commented on #74
sorry, i thought it was relevant enough to the discussion.  its a not a big issue that i thought would warrant a whole post so when i read this i was like "oh this is close enough, might as well mention it" .

[2016-04-28 16:17] Defman21 commented on #74
Well ok I'll try to do something with it.

[2016-04-28 16:59] CreamyCookie commented on #74
@Fisto69 Good point. Forgot about it, but I'd like that as well.

[2016-04-29 08:53] CreamyCookie opened #77 "Text of current (TreeStyleTab) tab in Firefox unreadable"
The text and the x is unreadable. The contrast of the x in general is too low.

![treestyletabs](https://cloud.githubusercontent.com/assets/3063858/14911865/86b4f8c4-0df8-11e6-8835-c2e50f31ff8b.png)

[2016-04-30 22:39] #74 closed

[2016-05-01 06:57] Defman21 opened #78 "Dash: add loading icon for apps"
This one was suggested in #74 but I didn't have time to put this to #76. I'll work on this.

[2016-05-01 07:37] Rishishukla6 opened #79 "Unable to locate package flatabulous-theme in Ubuntu 16.04"
I'm trying to install using ppa. After adding the PPa and updating when i ran the command `sudo apt-get install flatabulous-theme` I got an error saying

Here is the screenshot. What should i do now ? Will installing via .deb package let me get updates as they will be released ? thank you.

![image](https://cloud.githubusercontent.com/assets/10980039/14940664/555f2d84-0f9d-11e6-8416-f2a91fc6de82.p

[2016-05-01 07:50] Defman21 commented on #79
Install it with git

[2016-05-01 08:04] Rishishukla6 commented on #79
@Defman21 can you please let me know the steps or (required links ) on how to use git to install it ? And will I be getting the updates as this theme will be updated if will be using git ?

[2016-05-01 08:15] Defman21 commented on #79
You'll have to pull updates manually.

[code]

To update:
`cd /usr/share/themes/Flatabulous/ && git pull origin master`

[2016-05-01 10:49] danielhellier opened #80 "The red power icon is far too prominent"
With Ubuntu I believe this icon is suppose to turn red when you're asked to reboot.

I think it should be kept in uniform with the other icons, because the red can be quite distracting.

[2016-05-01 11:33] anmoljagetia commented on #80
It is from the icon theme, I think! You can use a different one, and fix it, or manually change the SVG to a non colored one!

![image](https://cloud.githubusercontent.com/assets/6505326/14941593/4ab6eaa8-0fa1-11e6-9160-c739559f0515.png)

[2016-05-01 11:58] danielhellier commented on #80
Oh. I thought it was part of this flatabulous. Thanks.

[2016-05-01 12:11] #80 closed

[2016-05-02 00:33] adamrmelnyk commented on #79
I didn't want to open a new issue since it's related. Will you be releasing a Xenial package in your PPA? I was just checking and noticed there [wasn't one as of yet]( https://launchpad.net/~noobslab/+archive/ubuntu/themes/+index?batch=75&memo=225&start=225)

[2016-05-03 09:27] stuaxo commented on #58
@Defman21 it really does seem to to be that simple.. I'm surprised they didn't make a conversion tool... is there a widget list somewhere?   I could probably make some sort of script myself to do this.

[2016-05-03 09:34] Defman21 commented on #58
https://github.com/valr/awf

[2016-05-03 09:37] Defman21 commented on #58
Or gtk3 widget factory

[2016-05-04 12:05] ericoporto opened #81 "The package is of bad quality when using .deb"
Ok, I downloaded the deb file from [here](https://github.com/anmoljagetia/Flatabulous/releases/download/15.04.1/Flatabulous-Theme.deb) and it gave me an error when opening with the Ubuntu Software Center. I've attached a photo of the error below.

![flatabulouserror](https://cloud.githubusercontent.com/assets/2244442/15013601/f63f195e-11d6-11e6-80cb-37d71b321826.png)

I am using Ubuntu 14.04 LTS.

[2016-05-05 10:25] anmoljagetia commented on #81
@ericoporto Thanks for the report! A lot of changes have gone into the master branch lately! Try installing from source manually, to get the latest changes!

[2016-05-07 08:58] xDom55x opened #82 "Left side of the file explorer with no borders"
Hi! I'm new here! Sorry for my english, I'm italian! :)
The problem is this: I upgraded from Ubuntu 15.10 to 16.04 and installed Flatabulous with the .deb package and GDebi.
I didn't found Ubuntu Tweak, so I installed Unity Tweak Tool, but I don't think this is the problem...
When I applied the theme I noticed that in the left side of the window of the file explorer there isn't even a little borde

[2016-05-07 09:25] Defman21 commented on #82
Install the theme manually

[2016-05-07 09:41] xDom55x commented on #82
Thanks very much man!!! You solved the problem!!! :D

[2016-05-08 17:21] #82 closed

[2016-05-09 21:10] VnnAmed opened #83 "Installation instructions are misleading. Installation from source is the best way."
Hi, so it's not a big deal but the installation instructions are backwards right now. Installing from .deb (recommended) gets it all retarded while using this theme from source makes it THE ONLY THEME that makes me happy. Maybe it's time to swap it?

[2016-05-18 06:38] towkir opened #84 "Graphical Issue in ubuntu nautilus"
Here is the screenshot of the little scar marks (marked in the screenshot)
![screenshot from 2016-05-18 11-29-47](https://cloud.githubusercontent.com/assets/6970839/15349545/715a63a4-1cf5-11e6-973c-861a520a9d3e.png)

[2016-05-18 10:21] majidmushtaq91 opened #85 "Ubuntu 16.04 Nautilus sidebar issue"
installed Flatabulous all goes fine but nautilus side bar icon and context menu have some issue any suggestion?
Sidebar icons alignment issue:
![screenshot from 2016 05 18 12 23 51](https://cloud.githubusercontent.com/assets/6627764/15355402/d80786a2-1d0b-11e6-9943-ed98436146db.png)

Sidebar icons context menu issue text visible on hover only
![screenshot from 2016 05 18 15 20 12](https://cloud.gi

[2016-05-18 10:34] Defman21 commented on #85
Install it manually
On May 18, 2016 1:21 PM, "Majid Mushtaq" <notifications@github.com> wrote:

[2016-05-18 10:43] majidmushtaq91 commented on #85
Thanks its work !

[2016-05-19 05:59] Akaryatrh commented on #84
This issue has already been reported here : https://github.com/anmoljagetia/Flatabulous/issues/59

[2016-05-20 19:09] justinoue opened #86 "Some assets look bad in HiDpi"
I'm using a 3200x1800 screen and some assets, specifically the close, minimize, and resize widgets look obviously blurry.

![widgets](https://cloud.githubusercontent.com/assets/7965150/15438991/d5fd5868-1e9c-11e6-87c0-ab01ae6d06eb.png)

[2016-05-20 20:31] carlthome opened #87 "Wrong background color on Unity top panel, and window menus displaying wrong text color"
On Ubuntu 16.04 it seems like the colors are off. The window titles are too dark, and the top panel is light. I've tried resetting both compiz and unity. I'm using the latest version of Flatabulous from the master branch.

![image](https://cloud.githubusercontent.com/assets/1595907/15441240/1de3fdde-1eda-11e6-9708-6c9a1acffe09.png)

[2016-05-22 20:28] carlthome commented on #87
The nuclear option of deleting `~/config/gtk-2.0` and `~/config/gtk3.0` and then running
[code]
again works fine. Who knows what happened to my system? Oh well!

[2016-05-22 20:28] #87 closed

[2016-05-24 18:16] DictumMortuum commented on #16
That link with all those wallpapers is unfortunately not available anymore. Does anyone have the background?

[2016-05-26 08:07] DictumMortuum opened #89 "Wallpaper album doesn't exist anymore"
Hello,

The [album](https://plus.google.com/+JaromBradshaw/posts/FFnhcPqVaCc?pid=6001488417862207826&oid=115581491412616658975) that is linked in the FAQ that contained all those nice wallpapers can't be found. Does anyone have a backup of that [space-y wallpaper](https://github.com/anmoljagetia/Flatabulous/blob/master/preview/flat_wallpaper.png)?

Regards,
Dimitris

[2016-05-26 12:05] TiagoDanin commented on #89
- [Wallpaper](https://onedrive.live.com/redir?resid=B3269721AD87DCF6!2977&authkey=!AHxZrjt_rdYIOoQ&v=3&ithint=photo%2cpng) :D

[2016-05-26 13:28] DictumMortuum commented on #89
Thank you very much :D

[2016-05-30 14:08] pruizret opened #90 "simply not working although selected"
I can't get the theme to display properly, even when selected at TweakTool. All I get is something like this
![captura de pantalla de 2016-05-30 16-03-04](https://cloud.githubusercontent.com/assets/18198500/15651451/0ff73134-2680-11e6-983e-c974c2fd01c4.png)

Again, I have it already installed and selected, but still not working
![captura de pantalla de 2016-05-30 16-06-42](https://cloud.githubuser

[2016-06-01 13:14] anmoljagetia commented on #89
Ture, I willa dd this link to the README, and remove the album. Thanks a lot for the information 👍

[2016-06-01 13:14] anmoljagetia commented on #86
There is a PR on the way to fix it, thanks for bringing it up 👍

[2016-06-01 13:15] anmoljagetia commented on #83
@VnnAmed Thanks, you're right about it, and I will update the README and regenerate the Deb file for the same!

[2016-06-01 13:16] anmoljagetia commented on #14
Fixed for Ubuntu 16.04.

[2016-06-01 13:16] #14 closed

[2016-06-01 18:44] justinoue commented on #86
Great, thanks for the update!

Love the theme.

[2016-06-11 22:04] mortram opened #91 "Can't get correct window decoration in Gnome, Ubuntu 16.04"
Love this theme.  I tried to use it in Gnome Shell, Ubuntu 16.04, and cannot get the proper window decoration.  The theme settings seem correct, but not the borders.  I posted a screenshot on askubuntu here:

http://askubuntu.com/questions/784720/flatabulous-theme-does-not-show-correct-window-decoration-on-gnome-shell

[2016-06-15 07:14] Peekinghills1 commented on #86
Affects me too! I use a 2560x1440 screen and it looks blurry with hidpi scaling. I hope this can be updated with hidpi assets eventually!

[2016-06-17 08:06] Feichtmeier opened #92 "GParted looks like windows 95"
Hello great theme!

I found a minor issue: gparted looks really... hm old and unthemed :)
I guess that could be  an gtk 2 issue? I installed it from this github repo downloaded the zip file and unziped it into .themes

![bildschirmfoto vom 2016-06-17 10-04-43](https://cloud.githubusercontent.com/assets/15329494/16144431/384b59fc-3473-11e6-8bd6-185520423f48.png)

[2016-06-17 08:24] Defman21 commented on #92
Does other gtk2 apps works fine? (gimp for example). If not, try to install it to /usr/share/themes

[2016-06-17 08:45] Feichtmeier commented on #92
I would say yes gimp works fine. I better upload a picture and maybe you can better say if your theme is applied or not :
![bildschirmfoto vom 2016-06-17 10-43-40](https://cloud.githubusercontent.com/assets/15329494/16145375/8867e928-3478-11e6-9604-9bd455cebf16.png)

[2016-06-17 08:49] Defman21 commented on #92
This is not mine actually :P
Yeah, gimp works fine there. I assume Gparted uses a different gtk2 engine. Don't know which one, so you would want to install all of them. (`gtk2-engine-*`)

[2016-06-17 19:17] Feichtmeier commented on #92
Ah okay. But gparted theming works on for example yosembiance theme.
So I could install all those gtk engines without harming anything? :D

[2016-06-18 06:33] Defman21 commented on #92
They don't affect any apps, but adding styles to those which are using it.

[2016-06-18 17:05] kodeine opened #93 "Pycharm/PhpStorm colors"
as the title says, can you make themes for those? like you did for sublime

[2016-06-19 20:07] Feichtmeier opened #94 "The last part of scroll panes is not shown"
When you have windows with scroll panes not maximized, the part that can be scrolled is cutted at the bottom or at the top
![bildschirmfoto vom 2016-06-19 22-06-32](https://cloud.githubusercontent.com/assets/15329494/16179578/288932b6-366a-11e6-9c89-8cf9350a662f.png)
 Attached a screenshot of nautilus (in eclipse it is the same)

[2016-06-20 13:14] Hedilict commented on #16
uh,the link with those wallpapers in not available.So please update and I love them a lot.

[2016-06-20 14:27] anmoljagetia commented on #93
Hi,

Sounds like a good idea. I will try and port it to PyCharm. Any resources
you kbow of, for the same?
On 18-Jun-2016 19:05, "Kodeine" <notifications@github.com> wrote:

[2016-06-23 16:25] anmoljagetia commented on #94
I can't reproduce it. Try expanding the column?

[2016-06-23 17:39] anmoljagetia commented on #84
Closing because it is a duplicate of #59.

[2016-06-23 17:39] #84 closed

[2016-06-23 19:47] Feichtmeier commented on #94
Hi! Okay I upload a screenshot where you can compare your theme to my example (yosembiance gtk) gtk theme. I just opened the last screenshot with the "bug" and applied the yosembiance theme and put the nautilus window right beside the nautilus window on the screenshot.

"The bug" is that the highest/lowest part of the scroll area is somehow cutted off
![bildschirmfoto vom 2016-06-23 21-45-09](http

[2016-06-23 22:28] anmoljagetia commented on #94
Can you also pull in the master? A lot of change has gone in, and the README is quite outdated at this point.

[2016-06-23 22:35] anmoljagetia commented on #94
Okay, I can reproduce it! Confirmed bug!

[2016-06-29 22:29] rezayds opened #95 "Ubuntu 16.04 Dash Not Transparent / Black"
Hi,
Why my dashboard is not transparent or it's completely black?
Here is my screenshot
![screenshot from 2016-06-30 05-18-32](https://cloud.githubusercontent.com/assets/14270659/16470828/bf634904-3e82-11e6-952e-bb127192d116.png)

Your screenshot from https://github.com/anmoljagetia/Flatabulous/
![Supposed to be](https://camo.githubusercontent.com/7f21a8ab158725c5b334da910f305a532cb0c1cb/687474703

[2016-06-29 22:47] Defman21 commented on #95
Are you sure your videocard supports this effect? Do you see transparency with the default theme?

[2016-06-30 06:41] emnsen opened #96 "Checkbox checked tick not show"
Hi,
This theme very very good.
But i have a problem.

Checkbox is selected or not selected i don't know because tick not showing.
The following examples of pictures in the same way in the other checkboxes...

![checkbox](https://cloud.githubusercontent.com/assets/5148536/16479034/4fe90f40-3ea6-11e6-9e8d-3ec86822b796.png)

Ubuntu 16.04

Regards

[2016-06-30 08:46] Defman21 commented on #96
How did you install the theme?

[2016-06-30 08:53] emnsen commented on #96
with ppa install (https://github.com/anmoljagetia/Flatabulous#2-using-the-noobslab-ppa)
and i set the gnome-tweak-tool

[2016-06-30 08:54] Defman21 commented on #96
Try to install it manually.

[2016-06-30 08:58] emnsen commented on #96
ok i am try.

[2016-06-30 09:26] anmoljagetia commented on #96
Try to get the master branch, I should probably update the PPA and also change the installation instructions.

[2016-07-02 12:49] Feichtmeier commented on #92
Sadly it did not change anything :) Thanks for the help anyways!

[2016-07-16 06:23] happydemic commented on #95
@rezayds As @Defman21 says, you should see the same problem with every theme. There's a weird 'feature' in Unity which means that if your Dash/Launcher background colour is set to black, it is always fully opaque. The only way to restore transparency (so far as I know) is to pick a different background colour for the Launcher.

In the Unity Tweak Tool, go to Launcher and set the colour to either '

[2016-07-23 14:05] weiyf commented on #96
I have the same problem， how to solve it

[2016-07-23 14:49] weiyf commented on #96
I was intall it manually, but the problem is still there

[2016-07-25 14:32] sethen commented on #85
I have installed this theme manually and still have the same issue.  Anymore thoughts on how to fix this?

[2016-07-25 14:42] sethen commented on #85
Oh, nevermind.  The issue for me was that I was using the 15.04 release.  It should be noted to get this work correctly, you should clone the repository directly into `/usr/share/themes` for this to work correctly.

[2016-07-25 19:12] anmoljagetia commented on #96
@Defman21 Sure man!
I was just waiting around, to get all the bugs, before I dive in, and mark a new release, but I think, we are not getting anymore, so I wrote to NoobsLab to update their PPA, and I also got the current master on the new release, for 16.04.

[2016-07-29 11:14] emnsen commented on #96
Hi,
last update solves the problem.

![tickprob](https://cloud.githubusercontent.com/assets/5148536/17246749/b90e21ac-5596-11e6-88b0-4c0cf87695b8.png)

Thank you.

[2016-07-29 11:15] #96 closed

[2016-07-29 11:51] Arjoni opened #98 "Use OBS"
Hello, can you please use opensuse build service? it will create repos and binaries for all distros automatically. It would be great to get updates easily. https://en.opensuse.org/Portal:Build_Service
Thanks for this theme! Cheers!

[2016-08-16 12:03] manuelbua commented on #90
I'm on Arch and i've the same problem: i don't event have a proper caption bar with window titles and everything looks without proper styling o_O Not sure what to try..

[2016-08-16 12:14] Defman21 commented on #90
It's designed for Unity. It does not have any other decorations.

[2016-08-16 12:16] manuelbua commented on #90
Ah, ok so the main description may be misleading since i'm on a Gnome-based system:

Wouldn't it be better for that to say "Unity-based Linux systems" instead?

[2016-08-16 12:18] Defman21 commented on #90
Hmm my bad, it should work fine on gnome based systems. What are you using for decorations?

[2016-08-16 12:20] manuelbua commented on #90
No problem, i'm using the Tweak Tool to set the GTK+ theme and nothing else, the Unity Tweak tool has probably more settings than the one we are using.

[2016-08-16 13:11] anmoljagetia commented on #90
@manuelbua It works fine with GTK 3.14, however if you are on GTK 3.16, some of the decorations will be broken. The GNOME version needs some changes before it can work properly on GTK 3.16

[2016-08-16 13:13] anmoljagetia commented on #90
You also need the Murrine theme engine for it to work.

[2016-08-16 13:22] manuelbua commented on #90
Hi @anmoljagetia, thanks for coming into the discussion, ahh ok, i've got the murrine theme engine installed but i'm on Gnome 3.20.2 / GTK+ 3.20.8, so it's probably related to this :)

[2016-08-16 18:59] riumutu opened #100 "Missing fcitx icons for Asian languages"
I'm using the Flatabulous theme with the Ultra Flat Icons on Unity of Ubuntu 14.04.

I found that the panel indicator icons of `fcitx` input method are missing (or not correctly displayed) when using `ultra-flat-icons*`.
As far as I have confirmed, the icons for `fcitx-hangul` (Korean) and `fcitx-pinyin` (Chinese) are incorrectly substituted for the Text Entry icon in the System Settings (i. e. th

[2016-08-16 19:06] Defman21 commented on #100
You should report to the maintainer of ultra-flat-icons. This repository does nothing with these icons except for this repository recommends them.

[2016-08-16 19:11] riumutu commented on #100
Thank you for your advice, @Defman21 . I misunderstood that, sorry.

[2016-08-16 19:11] #100 closed

[2016-08-16 19:48] edwinksl commented on #59
This visual glitch still exists in Ubuntu 16.04.

[2016-08-21 13:56] alberto-santini commented on #16
Hi, the background link is dead. Please reopen this issue! :)

[2016-08-21 14:20] DictumMortuum commented on #16
I have a copy in my dotfiles repo:

https://github.com/DictumMortuum/dotfiles/tree/master/.backgrounds

[2016-08-26 18:09] JLCCI opened #102 "Ubuntu launcher quicklist"
Hi anmoljagetia,

First of all, amazing work! Your theme is by far the best one I have tried, makes Ubuntu look stunning. The theme looks pretty complete with a small exception - the launcher quicklist menus.

Would it be possible to modify them so they match the color and design of the menus in normal application windows? It seems the last thing to make Flatabulous cover the whole UI. A simple da

[2016-08-31 06:55] BahiaAlves opened #103 "Wallpaper for them who want"
https://drive.google.com/open?id=0B4nzxp4u7hzvVXJVeTZoY3dhSEE

I found it on reddit. I won't delete it. I won't chage the link. Enjoy.

[2016-09-01 08:32] shuliandre opened #104 "How to center title in Flatabulous?"
Hi, thanks for making Flatabulous, it is a really nice theme.
There is one thing I have noticed in the screenshots. The title text is in the center of the title bar. Can I ask how the text can be centered?
Thanks!

[2016-09-06 12:55] #104 closed

[2016-09-09 00:20] JLCCI commented on #93
+1 if you could make UI theme!

[2016-09-09 00:21] JLCCI commented on #91
+1. I have seem online screenshots of flatabulous on gnome but I cannot make it work on my machine.

[2016-09-14 08:20] DasJott opened #105 "Huge calender icon in Evolution settings"
Using this theme, the **calendar icon** in the settings panel in evolution is huge. Like 10 times bigger than all the other icons.

[2016-09-14 13:25] anmoljagetia commented on #105
@DasJott Thanks for the update. What icon theme are you using? I do not maintain the Ultra-flat-icon repo unfortunately, and this looks more like their issue. Can you please post a screenshot of the problem as well?

[2016-09-14 13:29] DasJott commented on #105
OH, i am so sorry. It seems I messed something up. I use the "Ultra-flat-orange" and it seems it's not delivered with flatabulous :D

[2016-09-14 13:33] DasJott commented on #105
![evolution icon error](https://cloud.githubusercontent.com/assets/6298761/18514140/a001357c-7a90-11e6-9ff0-0d3990b5aa75.png)

[2016-09-14 13:56] anmoljagetia commented on #105
Thanks. What icon theme are you using?

[2016-09-14 14:14] DasJott commented on #105
ultra-flat-orange

[2016-09-15 08:49] anmoljagetia commented on #83
Closing, as the installation instructions have been corrected now.

[2016-09-15 08:49] #83 closed

[2016-09-15 08:50] anmoljagetia commented on #81
Can you try with the new verison on 16.04?
This should be fixed now.

[2016-09-15 08:51] anmoljagetia commented on #63
The PPA has been updated. Hopefully this issue can be resolved safely now?

[2016-09-15 08:52] anmoljagetia commented on #105
Closing. Belongs to Ultra-Flat-Icons.

[2016-09-15 08:52] #105 closed

[2016-09-15 08:58] anmoljagetia commented on #103
Thanks a lot. I have updated the README to reflect the same.
Cheers 👍

[2016-09-15 08:58] #103 closed

[2016-09-15 08:59] anmoljagetia commented on #102
Can you point me to a theme that already does that?

[2016-09-15 09:00] anmoljagetia commented on #95
@rezayds Did the methods suggested by @happydemic work for you? This seems to be working for me alright?

[2016-09-15 09:02] anmoljagetia commented on #73
Closing. Since the issue has been resolved.

[2016-09-15 09:02] #73 closed

[2016-09-15 09:05] anmoljagetia commented on #40
Hey, thank you for taking time out and trying to help out with money. Looks like a cool platform, and will be glad to use it, in the future. Thanks 👍

[2016-09-15 09:05] #40 closed

[2016-09-15 09:06] anmoljagetia commented on #86
This was fixed in one of the PR. Can anyone confirm the same?

[2016-09-15 09:06] #79 closed

[2016-09-16 09:04] anibyl opened #107 "ultra-flat-icons request/contribute"
I use some apps that I'd like to see in ultra flat icons package.

Any way I can contribute the icons? Didn't find them in this repo. Probably it is https://github.com/erikdubois/yltra-flat-icon-theme? Do somebody update `ppa:noobslab/icons ultra-flat-icons` from there? Connected page on gnome-look.org doesn't work or even exist.

_PS: thank you for this amazing work._

[2016-09-16 12:11] anmoljagetia commented on #107
Hey.

Thank you for the good words. I unfortunately do not maintain Ultra Flat Icons, nor do I maintain NoobsLab. Please write to the respective authors for the same.

I'm glad you like the work.

[2016-09-16 23:22] rezayds commented on #95
@anmoljagetia Yes it works for me, thanks! @happydemic

[2016-09-19 08:00] anibyl commented on #107
Will look for maintainers. Thank you for the answer.

[2016-09-19 08:00] #107 closed

[2016-09-29 13:05] AdriwanKenoby opened #108 "ppa tualatrix is useless and broke dependencies"
You should install unity-tweak-tool instead

[2016-09-30 08:41] anmoljagetia commented on #108
Can you issue another PR with the updated commands, or post the link to the installation here?

[2016-09-30 08:41] anmoljagetia commented on #108
Thanks for pointing this out 👍

[2016-09-30 09:20] AdriwanKenoby commented on #108
this command is suffisent, you don't need tualatrix ppa
$ sudo apt-get get install unity-tweak-tool

then you can add noobslab ppa and all works.

I am on unity.

Kind regards

@dri1

2016-09-30 10:41 UTC+02:00, Anmol Jagetia <notifications@github.com>:

[2016-10-01 16:51] Pival81 commented on #58
so... no new updates?

[2016-10-01 16:54] Defman21 commented on #58
Try to:
[code]

Then pick Flatabulous.

[2016-10-03 15:14] anmoljagetia commented on #86
Fixed in #88

[2016-10-03 15:14] #86 closed

[2016-10-10 17:01] linusg commented on #93
Sounds good, :+1:

[2016-10-10 17:08] linusg commented on #59
I see it too in 16.04 and Nautilus. Looks like the one image is on top of the other...

[2016-10-10 17:11] linusg commented on #47
Just a sidenote: Unity Tweak Tool doesn't has that option to set a dark or light Theme, so people will have to use Gnome Tweak Tool. IMO, Unity Tweak Tool is more user-friendly.

[2016-10-10 17:26] Defman21 commented on #47
This could be implemented as a different theme then. However, I'm not interested in developing light theme anymore.

[2016-10-10 18:45] linusg commented on #47
Just wanted to note! But the current theme is almost perfect, so there's no need to make things more complicated.

[2016-10-10 18:52] Defman21 commented on #47
Yeah I don't blame you. Thanks for the note :)

[2016-10-10 18:57] linusg commented on #102
Indeed, that would be nice. But sadly even googleing for a while gave no results, so I think this is not that easy. But while theming the Launcher is partly possible, I would bet that there's at leas a dirty hack for this!

[2016-10-10 19:15] Defman21 commented on #102
Looks like something you can't change for me. Probably it's being rendered directly by Unity (those blurry pop-ups, you know..)

[2016-10-11 09:58] anmoljagetia commented on #102
@Defman21 Exactly. I have neither. I have been looking to do this since almost forever. Let's see if they roll it out in the new release anytime soon!

[2016-10-11 10:02] #108 closed

[2016-10-11 10:06] anmoljagetia commented on #47
@linusg I have been wanting to settle this Unity Tweak Tool vs Unity Tweak debate for a while now. I think The Unity Tweak Tool is the better choice of the two. For people who want to tinker a bit more, The Gnome Tweak Tool might be better suited, but this breaks badly on Gnome 3.20+, so I wouldn't recommend using all the features from there.

For the light theme, I am particularly a dark version

[2016-10-11 10:07] anmoljagetia commented on #95
Thanks for reverting back. Closing, as this bug belongs with Unity.

[2016-10-11 11:21] linusg commented on #47
What I've found so far:

    /usr/share/unity/icons
    /usr/share/unity/themes

In these directories, there are some Unity-related images. For testing purposes, I've overdrawn some with Gimp and restarted Unity by typing `unity` into a terminal, and changes were visible!

I don't know what all the images are for exactly, they're poorly named. But at least the Dash border, which looks ugly IMHO, i

[2016-10-11 11:22] linusg commented on #102
@anmoljagetia @Defman21

What I've found so far:

    /usr/share/unity/icons
    /usr/share/unity/themes

In these directories, there are some Unity-related images. For testing purposes, I've overdrawn some with Gimp and restarted Unity by typing `unity` into a terminal, and changes were visible!

I don't know what all the images are for exactly, they're poorly named. But at least the Dash border,

[2016-10-11 14:40] anmoljagetia commented on #43
Closing, as this is no longer relevant. Ubuntu 16.04 version was tagged and released.

[2016-10-11 14:40] #43 closed

[2016-10-11 14:42] anmoljagetia commented on #89
Closing. Fixed in https://github.com/anmoljagetia/Flatabulous/commit/7c098ab1fb7e9fcffd5b4f1e438620bcf9b2686e

[2016-10-11 14:42] #89 closed

[2016-10-11 14:42] anmoljagetia commented on #63
Closing. As this is no longer an issue on Ubuntu 16.04

[2016-10-11 14:42] #63 closed

[2016-10-11 14:49] anmoljagetia commented on #93
Maybe this is helpful : http://color-themes.com/?view=index&page=1&order=popular&search=Numix&layout=Generic

[2016-10-11 14:50] anmoljagetia commented on #92
Needs individual styling, like some other GTK apps.

[2016-10-14 11:42] lednhatkhanh opened #110 "How to install this theme on Fedora 24?"
Hi, I want to install this theme on Fedora, but I don't know if it will work or not, please let me know if I can install this on Fedora 24 or not. Thank you.

[2016-10-14 12:10] Defman21 commented on #110
Just use the manual method.

[2016-10-14 13:20] anmoljagetia commented on #110
Just install it using the third option. It only works if you are running Gnome.

[2016-10-14 14:10] kevinarefunny opened #111 "Ubuntu 16.10 Unity 7.5.0 Theme Issues"
There are a few theme issues with the new Ubuntu release using newer GTK styles and programs, such as the window border shape, the terminal color, check boxes and the spacing of things, context menus, and nautilus. Here are screenshots comparing Flatabulous to Ambiance.
![screenshot from 2016-10-14 09-34-40](https://cloud.githubusercontent.com/assets/15918185/19390470/410e4122-91f6-11e6-82a7-c43ac

[2016-10-14 14:34] Defman21 commented on #111
Install it manually:

[code]

[2016-10-14 14:42] kevinarefunny commented on #111
Thanks that fixed some issues, but now it looks really weird with the white and dark contrasts.
![screenshot from 2016-10-14 10-42-13](https://cloud.githubusercontent.com/assets/15918185/19391514/f1a39466-91fa-11e6-9aed-e081f0c4b663.png)

[2016-10-14 15:06] kevinarefunny commented on #111
Is there like a flatabulous dark i'm missing?

[2016-10-14 15:23] Defman21 commented on #111
/cc @anmoljagetia. Looks like you've copied the wrong Numix :)

[2016-10-14 15:27] kevinarefunny commented on #111
so to update the theme again when @anmoljagetia fixes it, i have to do git checkout gtk-320 and then the /usr thing?

[2016-10-14 16:17] Defman21 commented on #111
I don't know atm, it depends on how the author will update the theme. I'll give you instructions afap.

[2016-10-14 16:46] kevinarefunny commented on #111
Thanks

[2016-10-15 15:45] kevinarefunny commented on #111
How do I know when it's fixed?

[2016-10-15 16:06] Schwarzer-Schwan opened #114 "Completely broken on Ubuntu 16.10"
So I recently updated to Ubuntu 16.10 and my theme is just completely jumbled up. I checked Ambiance and it's working fine. Can you look into it? Here are some screenshots:
![screenshot from 2016-10-15 19-31-43](https://cloud.githubusercontent.com/assets/21161840/19411429/94e119d2-930e-11e6-8847-2d5522473191.png)
![screenshot from 2016-10-15 19-33-32](https://cloud.githubusercontent.com/assets/211

[2016-10-15 20:25] fourtytwo opened #115 "Has multiple issues with Ubuntu 16.10."
The theme has many issues with textfields/dropdowns etc.
Also there is no apt repository yet.

[2016-10-16 01:20] #110 closed

[2016-10-16 02:24] peschkaj commented on #115
It looks like #112 seeks to solve this, but I ran into problems a couple of issues.

[2016-10-16 02:26] peschkaj commented on #111
Are there instructions for which Numix to copy to get this working correctly with the gtk-320 branch? It wasn't necessary before.

[2016-10-16 07:52] aravind-gk commented on #114
The exact same thing happening with me. Please update this theme for Ubuntu 16.10 I'm waiting for it :D
![screenshot from 2016-10-16 13-18-17](https://cloud.githubusercontent.com/assets/20236827/19416047/3f6cb5de-93a3-11e6-865a-1c941ebf274c.png)

[2016-10-17 03:55] JLCCI commented on #102
Apologies for late reply - unfortunately I also don't know any way of changing it in Ubutnu. It seems to be easy in Gnome so I thought it would be possible in Unity as well.

In any case it would make for a very consistent experience if anyone will figure it out!

[2016-10-17 08:11] anmoljagetia commented on #102
@JLCCI @linusg Thanks for the input. There have been multiple issues for this, and to be honest, it also did bother me, but I haven't yet seen *any* theme, that can do this. I would love to have it, but I think, I'll have to look at some samples to see, how to implement this.

[2016-10-17 17:23] #115 closed

[2016-10-18 06:50] folivaud commented on #114
@anmoljagetia Are currently working on it ?

[2016-10-18 08:16] folivaud commented on #114
My bad, didn't see there is already a pull request.

[2016-10-21 15:09] i4late opened #116 "ubuntu16.04 icons issue"
When I restart the computer, all the icon again to return to the original appearance.When I reinstall the ICONS, it is good again.

[2016-10-28 10:24] GreenJoey opened #117 "Ubuntu like window buttons for Gnome??"
I have used this theme in Ubuntu 16.04 and I loved it. But now I moved Manjaro Gnome and though the theme is great I miss the Ubuntu's macOS like window button. Could you bring that one to Gnome for I believe that will make the Gnome's theme look more great

[2016-10-29 06:21] WolfBrawl opened #118 "Add an open animation to launcher icons in Ubuntu"
So far this is the only thing that annoys me.

I think it would be great to have something like the pulse animation that Ambiance theme has, or maybe just make the icon a little bit more opaque until the app opens.

Maybe something like this?

![ej](https://cloud.githubusercontent.com/assets/4529850/19827606/fb9fd6ce-9d75-11e6-8fcf-91c0f7025123.png)

I REALLY love this theme, so keep the great wor

[2016-11-01 13:59] linusg commented on #102
@anmoljagetia @Defman21 @JLCCI - Unity 8 is on the way, has anyone tested it yet? I tried (no success, can't login), but it looks somewhat different to 7. Maybe they've made some parts of the desktop more theme-friendly...

[2016-11-01 14:01] Defman21 commented on #102
I'm not using unity anymore. Nor it was working for me :) (same problem - can't login)

[2016-11-01 14:03] linusg commented on #102
@Defman21 Alright, let's see if that gets fixed and wait for some response of the others.

[2016-11-01 14:07] linusg commented on #116
@i4late - I guess the icons have little to do with the theme - you can have activated any iconset with the theme. These are two different things.

[2016-11-03 09:39] baimafeima opened #119 "Why not make it distro-agnostic?"
Why not make this icon theme distro-agnostic and not specifically market it towards Ubuntu? Has anyone tried this under Solus?

[2016-11-03 11:39] Defman21 commented on #119
this is not an icon theme.

[2016-11-11 11:14] anmoljagetia commented on #119
This is distro agnostic, however, this is tested and fulyl supported only for Unity.

[2016-11-11 11:17] anmoljagetia commented on #117
This theme should work on Gnome as well, although not as well.

[2016-11-11 11:18] anmoljagetia commented on #118
This looks like a good idea. I'll take a look.

[2016-11-11 11:18] #95 closed

[2016-11-19 13:05] InYourHead opened #120 "Workspace bug in Spring Tool Suite/ Eclipse"
Flatabulus theme reduces the size of editor window, covering text on the edge of the current window with white spaces.
![example](https://cloud.githubusercontent.com/assets/11540730/20455660/20ce5e10-ae61-11e6-8cb3-e8f721ba72db.png)

Ubuntu 16.04,  Gtk3 is disabled

(STS looks properly while using another themes)

[2016-11-19 15:49] mercertom commented on #120
I don't see a way to PM InYourHead. If there's such a way, please teach me, I'm noob.

InYourHead, how do you get a usable sized window and icons? I know this isn't Flatabulous-related. I have trouble using many applications with my high DPI screen. I set desktop scaling to 2x. Many programs, like FTP have tiny un-clickably small buttons/icons. Are you using a high-DPI screen? Please teach me your

[2016-11-19 17:27] InYourHead commented on #120
Give me 30 min, i will send you real screenshots from my PC describing issues.

[2016-11-19 17:50] InYourHead commented on #120
Screenshots:
![bad](https://cloud.githubusercontent.com/assets/11540730/20457314/c73895aa-ae88-11e6-89c5-2eb416356887.png)
![good](https://cloud.githubusercontent.com/assets/11540730/20457316/c836ff00-ae88-11e6-9344-61ffe75bde31.png)

Now I am using screen with resolution 1366 x 768, but the problem occured when I was using screen with resolution 1600 x 900 and 1920 x 1080.

[2016-11-21 12:19] anmoljagetia commented on #120
Could be an issue of overfill. I will get to it, however I really want to get a verison out for Ubuntu 16.10 ASAP right now.

[2016-11-28 13:21] monimogu commented on #114
Samethings happen to me.

[2016-12-02 14:58] tudorpie opened #121 "Can't download Icons in Ubuntu 16.10"
Can't download and install the icon pack in Ubuntu 16.10

`tudor@memex:~$ sudo add-apt-repository ppa:noobslab/icons
 This PPA contains different icons from different creators but available by http://www.NoobsLab.com
 More info: https://launchpad.net/~noobslab/+archive/ubuntu/icons
Press [ENTER] to continue or ctrl-c to cancel adding it

gpg: keybox '/tmp/tmpnn2p2gbc/pubring.gpg' created
gpg: keys

[2016-12-02 15:09] anmoljagetia commented on #121
@tudorpie I don't maintain the Ultra-Flat-Icons. You can find them easily if you google it.

[2016-12-02 15:09] #121 closed

[2016-12-07 12:56] ddyllen-z opened #122 "can't install from ppa on ubuntu16.10"
With error message:none release file.

[2016-12-28 11:02] Atqi commented on #122
I have the same problem too. Can not local the package.

[2016-12-28 11:10] anmoljagetia commented on #122
The version for Ubuntu 16.10 isn't out yet. I will try and get this done this weekend.

[2016-12-30 17:35] Neutree commented on #120
i came with the same problem

[2017-01-07 15:38] EvanTideswell commented on #122
Any word on when it will be finished?

[2017-01-08 21:00] dhollinger commented on #122
@anmoljagetia Any updates on the status of this?

[2017-01-09 07:52] ddyllen-z commented on #122
@EvanTideswell nothing

[2017-01-09 07:56] ddyllen-z commented on #122
I installed from deb file. But it not work well at Ubuntu 16.10. Looks bad on some place.

[2017-01-10 21:50] cyruscuenca commented on #122
@ddyllen-z I installed it as well, and some parts of the OS are mangled.

[2017-01-14 07:50] CoalaJoe opened #123 "IRC client"
Is there any IRC client supported with this theme?

[2017-01-18 15:19] DatOneLefty commented on #114
same happens here, icons still work though!

[2017-02-05 12:18] GreenJoey commented on #117
I know it works. I also use it but I would really like that macOS like window button that I get in Unity. Would look nice in Gnome

[2017-02-12 10:33] fishingsun commented on #122
any update on this? deb packages from ppa is highly expected.

[2017-02-19 13:42] nanoant opened #125 "Power/shutdown icon always red?"
@anmoljagetia First of all, thank you very much for this really fabulous flat theme. I think this is what modern Ubuntu should look like.
I have only one remark. I always thought that red power/shutdown icon in menubar's top right corner turns red when I have some updated requiring me to update my computer.
However it seems it is always red in Flatabulous. Is it red by design? Because I find it a

[2017-02-22 16:07] zhongjidalao commented on #114
me too

[2017-03-03 13:52] Gabik21MC commented on #94
Anyone know a workaround for this issue? It is really annoying and I like this theme.

[2017-03-06 05:19] zhongjidalao commented on #122
I can't install from ppa too.

[2017-03-07 19:13] seblw commented on #122
@anmoljagetia any updates from you? thanks

[2017-03-11 20:59] DerEnderKeks opened #128 "Cinnamon Compatability"
Would it be possible to make this theme compatible with cinnamon?

[2017-03-15 18:14] manselis commented on #128
[According to the maker of Flatabulous](https://github.com/anmoljagetia/Flatabulous/issues/119#issuecomment-259936216),

You can try it, but I doubt the authors really care about supporting other distributions.

[2017-03-16 16:40] manselis opened #129 "Terminal not transparent"
Right on the homepage of this repository, at the README file, I saw that the terminal should look something like this:

![Example](https://camo.githubusercontent.com/86bb278f4b6dd119f904884fd7a47b1a7367a91a/687474703a2f2f692e696d6775722e636f6d2f4d3579786767512e706e673f31)

But on my machine (running Ubuntu 16.04.2 LTS), this is what it looks like.

![Screenshot](https://vgy.me/lYQObm.png)

Am I do

[2017-03-16 21:31] petri4kov commented on #129
Isn't this handled by the terminal settings, not the theme?

[2017-03-16 21:53] manselis commented on #129
It probably is, but I do not know what settings to tweak.

[2017-03-17 13:27] petri4kov commented on #129
Try googling please.

[2017-03-17 13:38] manselis commented on #129
Don’t be a dick, okay?

I found out how to do it anyway, but you don’t have to be a useless dick to me if I can’t find something on the first try.

[2017-03-17 13:38] #129 closed

[2017-03-21 10:17] anmoljagetia commented on #129
@manselis Hey, this depends on the terminal you are using. The one in the picture is the Gnome terminal, and that can be done with Profile Preferences in the Terminal itself.

[2017-03-21 10:18] anmoljagetia commented on #128
It is, but I don't have experience with Cinnamon, but if someone is willing to help out, it sounds like a good project to undertake :)

I am struggling to keep up with Unity itself.

[2017-03-21 10:24] anmoljagetia commented on #123
Any ones that use the default GTK 3 Styles should work.
I myself use irssi (terminal client) ;)

[2017-03-21 10:26] anmoljagetia commented on #125
I wanted to keep it a bit red, since for clear visual distinction. (I have the ask to shut down disabled, so that makes it a bit more helpful). But I agree, this should probably match the others for everyone else.

[2017-03-21 10:27] anmoljagetia commented on #116
@i4late I don't maintain the icon theme unfortunately. It is a separate project. You can try opening up an issue there, or try a new set ;)

[2017-03-21 15:29] CoalaJoe commented on #123
Ok. Thanks.

[2017-03-21 15:29] #123 closed

[2017-03-21 16:19] baimafeima commented on #119
This sounds contradictory to me. Why not add another desktop environment to make it "more" agnostic? I like your theme but I don't understand the fascination and exclusive focus on Unity, that's all.

[2017-03-21 16:24] Defman21 commented on #119
It requires time and effort to create and maintain it for different DE's.

[2017-04-02 17:30] kolpav commented on #111
Any progress on this?

[2017-04-05 03:02] #117 closed

[2017-04-06 06:26] dingjibang commented on #94
2017 yet

[2017-04-06 08:51] dingjibang commented on #94
same problem and no one fix it :(

afternoon, I compare style code with ubuntu 16.04 default-theme style code then I found the issue where is.

1. open "gtk-widgets.css" (at **~/.themes/Flatabulous/gtk-3.0/** or **/usr/share/themes/Flatabulous/gtk-3.0**)
2. press ctrl+f to search "**.sidebar,**" then you will find this code:
[code]
3. delete it & save
4. reload this theme

PS:
another bug like thi

[2017-04-06 15:44] kevinarefunny commented on #111
@kolpav no idea. I've been using the Adapta theme now. I'm actually really enjoying it too.

[2017-04-06 18:27] nick-s-b commented on #128
Now that Unity's dead, support for Cinnamon would be much appreciated.

[2017-04-07 14:25] diegofelix opened #131 "Active buttons looks disabled"
![image](https://cloud.githubusercontent.com/assets/238054/24804426/c8bba0ac-1b84-11e7-8806-817d687b31c5.png)

In this case, the save button looks disabled.

[2017-04-07 17:02] mercertom commented on #131
Yes! I was unable to articulate this. But I also suffer from this bug.

[2017-04-07 23:11] kyle-jennings commented on #111
Having the same issue... I followed the instructions from @Defman21 but now I've got this white color scheme.  Any update on the dark scheme @anmoljagetia ?

[2017-04-07 23:23] kyle-jennings commented on #114
@Codersaurus  how did you get the black window background? Flatabulous only changes the title bar right?

[2017-04-08 10:25] Gabik21MC commented on #94
@dingjibang Thanks! Now I can do stuff in eclipse properly with this theme :)

[2017-04-09 13:17] kyle-jennings commented on #114
Also - bump! I am having the exact same issues.

[2017-04-10 01:19] kevinarefunny commented on #122
Is the project dead?

[2017-04-10 12:06] flourishdna opened #132 "Icon Request for Nylas Mail"
Since Nylas Mail has been my go to app for emails on Linux. It seems Flatabulous does not have an icon for it. I have included the screenshot below.

![image](https://cloud.githubusercontent.com/assets/8165585/24860859/229e6226-1e14-11e7-920d-e286f81720b3.png)

[2017-04-11 06:58] anmoljagetia commented on #132
Hey,

I don't maintain the icon theme. It is a different project, by a different author. However, if you're looking to change the icon, I suggest you to try to include it in the icon directory and do a logout and login for it to reflect.

I hope that help!

[2017-04-11 07:00] anmoljagetia commented on #122
@All : Sorry, guys have been busy and away.
This is not dead, however I am still on Ubuntu 16.04, I have some changes locally, but need to compile and push. Expect some updates on this soon.

[2017-04-11 07:01] #94 closed

[2017-04-11 07:06] flourishdna commented on #131
I have the same issue.

[2017-04-11 10:20] seblw commented on #122
@anmoljagetia maybe just prepare for 17.04 instead, probably everyone with 16.10 will upgrade OS anyway.

[2017-04-11 18:37] redhost opened #133 "Icon Request For Open Office"
![screenshot from 2017-04-11 23-06-46](https://cloud.githubusercontent.com/assets/6306486/24924857/94670a64-1f0b-11e7-80d0-e6df914bf3ad.png)

plz add open office flat icon in theme tanx ;)

[2017-04-14 04:42] Fatburger3 opened #134 "Ubuntu 16.04 - Title bar menus: radios and checkboxes are invisible"
I have a fresh install of 16.04, when I'm using flatabulous I am unable to see checkboxes and radio buttons that are next to menu items (in the title bar menu).

Unfortunately I was unable to capture a screenshot for this because gnome-screenshot closes the menu.  I'll probably upload a phone pic

An example would be if I go in Nautilus>View: I can't tell which "Sort By" Option I have selected (ie

[2017-04-14 04:50] Fatburger3 commented on #134
![1492145368492920841456](https://cloud.githubusercontent.com/assets/4196674/25033500/2ee0a310-2093-11e7-8967-9af1659f841d.jpg)

[2017-04-15 04:54] #134 closed

[2017-04-15 04:56] Fatburger3 commented on #134
# This was caused by the icon pack, sorry to bother you. Thanks for the awesome theme.

[2017-04-15 18:48] anmoljagetia commented on #122
Yeah, that's exactly where I am heading now. Since most of the core is the same, maybe I can retain all the changes anyways.

[2017-04-15 19:38] kevinarefunny commented on #122
@anmoljagetia can we expect to see maybe lighter undertones like numix, adapta, or arc with the dark of this theme?

[2017-04-18 08:35] autn commented on #114
Me too with Ubuntu 17.04. This theme so great, please update :+1:

[2017-04-18 17:34] Madden91 opened #135 "Theme not working properly - Ubuntu 17.04"
Here's a screenshot of the problem, theme does not apply correctly. I'm on Ubuntu 17.04 with Unity 7 (not 8)

![schermata del 2017-04-18 19-28-29](https://cloud.githubusercontent.com/assets/10641644/25144273/8a455c5e-246d-11e7-91d8-6aee88de1b2d.png)

[2017-04-18 20:38] anmoljagetia commented on #135
Probably carrying over from 16.10. Thanks for reporting in.

[2017-04-30 17:49] anmoljagetia commented on #133
Unfortunately, I don't maintain the Icons project. Please try getting in contact with them for the request.
Thanks.

[2017-04-30 17:50] #133 closed

[2017-04-30 17:50] #132 closed

[2017-04-30 17:51] #81 closed

[2017-04-30 17:53] #46 closed

[2017-05-11 14:41] Siddhant2016 commented on #135
Same issue in Ubuntu 17.04 (Gnome 3)

[2017-05-12 02:07] joemarchese commented on #6
Found the original background here:
 [https://s-media-cache-ak0.pinimg.com/originals/76/fd/c5/76fdc5049c2ed996a2c2c132dc0b409a.jpg](https://s-media-cache-ak0.pinimg.com/originals/76/fd/c5/76fdc5049c2ed996a2c2c132dc0b409a.jpg)

[2017-05-12 02:10] joemarchese commented on #16
Found the planets background here:
[https://s-media-cache-ak0.pinimg.com/originals/76/fd/c5/76fdc5049c2ed996a2c2c132dc0b409a.jpg](https://s-media-cache-ak0.pinimg.com/originals/76/fd/c5/76fdc5049c2ed996a2c2c132dc0b409a.jpg)

[2017-05-17 07:22] zhaozhixu commented on #120
I have the same problem. Besides eclipse, nautilus seems have the same problem.
Look at the bottom of the side bar.
![2017-05-17 15-20-17](https://cloud.githubusercontent.com/assets/12733773/26142740/79d76e9e-3b14-11e7-8cc4-c10cbf9ff020.png)
I'm using Ununtu 16.04

[2017-05-17 14:33] thoussem commented on #120
Hello,
I have the same problem.

[2017-05-17 16:22] Gabik21MC commented on #120
Just compile a fresh theme from this repo or take a look at the issue #94 (it is closed) to fix it without rebuilding.

[2017-05-17 23:33] linkintosh opened #137 "Ubuntu Unity 16.04 Noisy white borders & window controls"
* I just realized Shutter cropped the screenshot so you are not able to see the white borders, but notice the window controls.
* I cannot reliably reproduce the issue; it just happens sometimes
* I *think* it happens mostly after my machine wakes up from sleep
* I can fix the issue by restarting my desktop manager (`sudo service lightdm restart`) or rebooting

Screenshot

![cj whisky _002](https:/

[2017-05-18 02:48] zhaozhixu commented on #120
Thank you! Problem solved.

[2017-05-18 03:54] zhaozhixu commented on #137
I also have this problem. It happens **every time** my machine wakes up from sleep.
I always fix it by restarting unity or rebooting.
I'm using Ubuntu 16.04, Unity 7.4.0, LInux 4.4.0-75-generic, 1366x768 resolution.

[2017-05-20 22:01] Gabik21MC commented on #137
I can confirm that bug, doesn't really effect me, but it's a nightmare for notebook users I guess.

[2017-06-21 13:26] #120 closed

[2017-06-25 18:48] tinrab commented on #135
Is anyone working on this?

[2017-07-04 13:06] throrin19 commented on #135
I have the same problem with ubuntu 16.10

[2017-07-09 15:46] HyperSimon commented on #135
same here
OS:Ubantu 17.10

[2017-07-14 02:06] tan9 commented on #135
Checkout the https://github.com/anmoljagetia/Flatabulous/tree/gtk-320 branch, although the branch is a bit out-dated, but is viable in my 17.04.

[2017-07-15 09:41] NormanBB commented on #116
I have a familiar problem.When i restart the computer,the theme including icons return to the original appearance.When I reset the unity,it works again.I used to install it by using root rights.And I do not know how to fix it.

[2017-07-19 09:18] thu-zxs commented on #135
@tan9 congratulations! But sadly not working on my 17.10 (Gnome 3)

[2017-07-19 10:20] thu-zxs commented on #135
Found a similar working one for me which is compatible with gtk 3.22 before this repo get updated for 16.10 and higher. Checkour [arc-flatabulous-theme](https://github.com/andreisergiu98/arc-flatabulous-theme)

[2017-07-22 09:10] lxmnet opened #138 "What topic does sublime use?"
What topic does sublime use?

good!!!

[2017-07-31 01:32] studioprintf opened #139 "Some bug when ueing eclipse"
![1](https://user-images.githubusercontent.com/13327564/28759714-1633dc84-75d3-11e7-9d2e-cca77da2ad88.png)
![bug](https://user-images.githubusercontent.com/13327564/28759715-163970c2-75d3-11e7-85f4-d7c7272e144b.png)

[2017-08-24 05:47] themattbook commented on #135
That's pretty fancy looking. Thanks! Works great in 17.04.

[2017-09-08 10:18] k1l1 opened #140 "Close, Minimize buttons are quite low resolution on higher DPI Displays."
The red, yellow and green close, minimize buttons are quite low resolution is contrast to text end edges of windows etc. Also the cross 'x' in the x button is quite low resulution. Sadly this annoys me every time I close a window.
![unbenannt](https://user-images.githubusercontent.com/20491467/30207390-acd2ee0c-948f-11e7-9306-418688bc6301.JPG)

[2017-09-26 10:01] anmoljagetia commented on #139
Which IDE is this?

[2017-09-26 10:02] anmoljagetia commented on #138
It is a custom theme. You can get it [here].(https://github.com/anmoljagetia/dotfiles/tree/mac/sublime)

[2017-09-27 20:20] rafaelxy opened #141 "Ubuntu 16.04 and Chrome 61 makes highlighted text lighter than it is supposed to be"
If I activate the theme and go to a google results page and do a ctrl+a I can see the dark grey of highlighted text that the theme is supposed to work with. However if I open Chrome 61 (installed thru ppa google-chrome-stable) I do the same and I get a very light grey which is almost impossible to see.

[2017-09-27 20:24] rafaelxy commented on #141
This happens as well on the URL bar

[2017-09-27 20:35] rafaelxy commented on #141
Noticed this happens with remarkable md editor too.

[2017-10-25 16:39] hukadev opened #142 "Can't install in 17.10"
Hi guys,

I tried to install, but it does not work.
Please help me, I really like this theme.

[2017-10-27 03:55] zhaynoth commented on #135
Thanks! just in case. Does anyone know if there is a Adapata-flatabulous one for unity 7 ?

[2017-11-04 10:25] elisaado commented on #142
Same, when I apply the theme via gnome-tweak-tool (Ubuntu 17.10 uses Gnome instead of Unity), it gives a lot of warnings and the themes looks, well uhm, I'll post a screenshot

Error log: (It's quite long) https://hastebin.com/movemojito.bash

Screenshot:
![image](https://user-images.githubusercontent.com/14182500/32404601-e502a98a-c152-11e7-80d4-fab720b4ebe8.png)

[2017-11-10 13:25] romulobastos commented on #135
Thanks @thu-zxs ! Arc Flatabulous worked very well here. It's a nice option! :smiley:

[2017-11-19 16:46] johannvonissou commented on #142
same

[2017-11-20 11:02] indriApollo commented on #142
Probably related to https://github.com/anmoljagetia/Flatabulous/issues/58

[2017-11-20 12:23] anmoljagetia commented on #142
This is related to #58. I don't use Ubuntu anymore, so can't keep this project up and developing. Although, I can accept pull requests and patches. Sorry :(

[2017-11-24 11:04] zzqcst opened #143 "you did a grear job"
I like it,thank you~

[2017-11-25 06:23] mdvorscak opened #144 "Recommended cursor theme"
Do you have any recommendations for flat cursor themes?

[2017-11-27 03:06] #138 closed

[2017-11-30 21:22] etiennepericat opened #145 "Theme not applied on small window"
It seems that the "menu bar" theme is applied only on full screen window, see this :

windowed screen

![whitebar](https://user-images.githubusercontent.com/19572496/33455471-77477d6a-d61c-11e7-94bc-51d4a556fba8.png)

full screen

![full](https://user-images.githubusercontent.com/19572496/33455482-80ead448-d61c-11e7-97f6-d7714f5ff6d8.png)

Hoping you'll fix this ;) !
( I have dowloaded the branche

[2017-12-06 02:35] ghost opened #146 "Black Screen after Clicking on an Icon on the Launcher"
When multiple windows of an app are open, clicking on the icon should bring up the multitasking window but I got a short black screen. I started to get this issue after I installed this theme.

OS: Ubuntu 16.04 LTS

[2017-12-22 23:26] SievaFliesAlone commented on #75
You can check out [this](https://github.com/anibyl/firefox-flatabulous) theme for Firefox 57+.

[2017-12-23 09:59] kardeepak opened #147 "Terminal Title Bar Doesn't Change"
I installed the theme and set it up using unity tweak tool but my terminal's title bar is not as shown in the Readme.md.
![flatabulous](https://user-images.githubusercontent.com/15882804/34318771-02bef89c-e7f6-11e7-9363-2cfbc801f2b3.png)
Also my other system program's title bar is not changing.
![flatabulous](https://user-images.githubusercontent.com/15882804/34318793-563b0f24-e7f6-11e7-924e-89897

[2018-01-12 09:26] teodyseguin commented on #114
Experiencing the same here on ubuntu 16.10 .. hoping for the fix soon :)

[2018-03-04 11:33] xanderjara opened #148 "Ubuntu 17.10 Doesn't Change"
in the sidebar is not well organized and installed all the packages but when changed to the Flatabulous theme it is not going
![seleccion_016](https://user-images.githubusercontent.com/11526227/36945042-47fd8880-1fa8-11e8-8fa1-8d0f0d9153f1.jpg)

[2018-03-18 03:18] nithinsanjey opened #149 "How to contribute to this project."
Hi guys,

I love this theme, and I have both coding and design skills. Please help me how to go about contributing to this project like how to build, run and test in my local ubuntu, so that I can raise a pull request with my contributions.

Any help would be lovely.
Thanks,
Nithin

[2018-03-22 08:49] raphaelsoul commented on #149
https://github.com/anmoljagetia/Flatabulous#contributing

[2018-03-23 19:23] lorrandavid opened #150 "Change window color"
Is there a way to keep both backgrounds the same as the window top bar?

I think it would be something like a darker theme

[2018-04-02 01:56] wei-chun commented on #139
I have the same problem.
I always use "Eclipse" for develop java project.
Can this problem be corrected?

[2018-04-02 03:30] wei-chun commented on #94
Thanks, @dingjibang , it is useful for me when I use eclipse.

[2018-05-01 00:07] #149 closed, assigned to nobody

[2018-05-01 11:22] chenx-dust commented on #58
@Defman21 good! it works well with my Ubuntu 18.0.4. thanks a lot!

[2018-05-03 01:57] Bitzo commented on #135
Same here when i update ubuntu to 18.04 from 16.04

[2018-05-04 09:20] behnambm opened #151 "launchpad Not Found"
$  sudo add-apt-repository ppa:tualatrix/ppa

 The official Ubuntu Tweak stable repository
 More info: https://launchpad.net/~tualatrix/+archive/ubuntu/ppa
Press [ENTER] to continue or Ctrl-c to cancel adding it.

Ign:1 http://ppa.launchpad.net/tualatrix/ppa/ubuntu bionic InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:3 http://us.archive.ubuntu.com/ubuntu bionic In

[2018-06-13 12:35] saint-yellow commented on #135
Same problem on Ubuntu 16.04.

[2018-06-23 15:46] snowman opened #152 "Can't normally display theme in Ubuntu 18.04"
Detail: [setting_flatabulous-theme_output.txt](https://raw.githubusercontent.com/balalaXD/IssuesFilesHost/master/install_flatabulous-theme_output.txt)
Screenshot:
![virtualbox_2018-06-23_23-44-31](https://user-images.githubusercontent.com/16096559/41811301-6aebba4e-773f-11e8-980f-05d61443a6e1.png)

I don't know what's the problem, may or may not related with Ubuntu version

[2018-06-23 17:09] snowman commented on #152
so i install 16.04 instead, and work!!!

[2018-06-24 05:13] #152 closed, assigned to nobody

[2018-07-11 01:30] chiyiw commented on #135
Same here when I update to 18.04 from 16.04, how to fix it T_T?

[2018-07-25 14:18] anmoljagetia commented on #143
Thank you

[2018-07-25 14:18] #143 closed, assigned to nobody

[2018-09-09 15:04] MInner commented on #58
Hey, thank you @Defman21 ! I wonder if that should look like this something broke :(? I am using Ubuntu 18.04.1 with unity 7.5.0. Thanks! [image](https://user-images.githubusercontent.com/5229267/45265857-cceefb80-b41f-11e8-8885-88822368571d.png)

[2018-09-09 15:15] MInner commented on #111
Apparently this is still an issue :( Too bad that the best unity theme does not seem to work anymore on modern ubuntu installations (not unity or ubuntu), I am having same result as @KevinParnell and @kyle-jennings

![broken UI](https://user-images.githubusercontent.com/5229267/45265857-cceefb80-b41f-11e8-8885-88822368571d.png)

[2018-09-09 16:54] KevinParnell commented on #111
I'm pretty sure this project is dead. I would either recommend switching to a new theme, or use an updated theme as a baseline to edit it and make it look like this.

[2018-09-25 07:33] muroshi opened #153 "18.04"
Not working anymore under Ubuntu 18.04 LTS.

[2018-11-02 19:26] quenbyako commented on #153
cuz 18.04 working on gnome, and this theme working on unity, huh?

[2018-11-22 13:46] ramonwenger commented on #153
It's not working under 18.04 Unity either, tabs and buttons don't seem to have correct widths or borders.

[2018-11-29 09:55] charakterziffer opened #155 "Add focus style"
I like that theme very much. Sadly I hempers the use of keyboard navigation. When I tab through my file explorer nautilus or through web forms there’s no hint which button is in focus at the moment. The Adwaita themes give focussed buttons an orange border. Maybe a thick dark grey border would be a possible focus indicator for Flatabulous? (a thicker border because grey is not a colour that stands

[2018-12-06 06:42] rawells14 commented on #153
It looks like it's only supporting Unity at the moment, so we will need to wait for an update for 18.04.

[2018-12-06 11:56] anmoljagetia commented on #153
Hey,

I have not been finding time to maintain this theme, so it's right now unmaintained, however I might get around to this in the coming holidays.
I am sorry for any inconvenience.

[2018-12-16 16:52] onewayheroic commented on #153
looking forward, so nice!

[2018-12-25 01:01] tun100 opened #156 "How to only apply dark style for system window, and not styled the third application which like eclipse?"
Hello, thanks for create such amazing and beautiful theme! I like dark theme, and when I using Flatabulous, I found a `gtk-dark.css` which can change system theme mainly color dark.
And I also found the another application style mixed with system dark theme colors, such as eclipse,firefox.
Firefox html input will be background black, and many component will became black, cannot look text well.
Ecl

[2018-12-25 01:08] tun100 commented on #156
Aha, I find a way, https://askubuntu.com/questions/8336/how-can-one-make-firefox-ignore-my-gtk-theme-entirely

[2018-12-25 01:08] #156 closed, assigned to nobody

[2019-01-21 08:11] leeeeeeo opened #157 "Why my Flatabulous is dark?"
Why my Flatabulous is dark instead of bright?
![screenshot from 2019-01-21 16-10-25](https://user-images.githubusercontent.com/25877709/51460687-220c2800-1d97-11e9-813e-279ed7c3a8e8.png)

[2019-02-06 10:30] muroshi commented on #153
Hopefully, now I'm stuck with Numix.

[2019-02-11 14:47] anmoljagetia commented on #157
You can tweak that using ubuntu-tweak to revert to bright.
There are two varients

[2019-02-11 14:47] #157 closed, assigned to nobody

[2019-08-05 09:47] luxious opened #158 "I love you three thousand"

[2019-10-28 08:02] misland commented on #147
I also met the same problem!!sad!

[2019-12-02 12:21] lucascoelhof commented on #153
Please work on a version for 18.04 in Unity! I can't live without Flatabulous :(

[2020-01-10 08:55] surya00060 commented on #157
My Flatabulus is bright. How do I change it to dark? I checked in ubuntu-tweak there's no option to change. Thanks!
FYI: First, I installed the theme via apt-get, then installed ubuntu-tweak.

[2020-04-14 07:53] littledivy commented on #153
Is this alive? People need this!

[2020-07-27 17:55] 3scava1i3r commented on #158
what does this issue mean?

[2020-07-28 04:43] neowong commented on #153
Please work on a version for 18.04 in Unity! I can't live without Flatabulous :(

[2020-08-19 09:39] calico-cat968 commented on #153
@muroshi @lucascoelhof @divy-work @neowong
You guys can try [this theme](https://drive.google.com/file/d/1r24muFmp2u8bplsiEjEnmoPAlhDE9CeK/view?usp=sharing): A modified Mint Y theme with Flatabulous elements (window controls, Unity launcher, etc.). I've tried my best to make it look like Flatabulous.

![Mint-Y-Flatabulous](https://user-images.githubusercontent.com/66407998/90616286-73acbb00-e237-1

[2020-10-28 11:54] #92 closed

[2021-01-03 14:51] carlthome commented on #158
I guess it means that @luxious loves Flatabulous and its developer(s) three thousand.

[2021-08-25 18:09] maranza commented on #153
Does this mean you are no longer using Ubuntu? this was the most beautiful and awesome theme, i actually have not updated my other pc, it still uses Ubuntu 16.04 with flatabulous theme. i wish i knew how to port this theme to Gnome i would fork and try.

[2021-11-15 07:19] 0xFF1E071F opened #159 "Flatabulous-Solarized"
Hello,
Is it somehow possible for you to add solarized color scheme for this beautiful theme?

Thank you.